@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  *{
    font-family: 'Pretendard-Regular';
    padding:0px;
    margin:0px;
    box-sizing: border-box;
  }
  
  #bb{
    top:0px;
  }

  .bg{
    background-image: url("/images/mypage/배경.webp");
    background-size: cover;
  }



  /* ****************************************************************************************  */
  /* 마이페이지 */

  .content{
    height: 800px;
  }


  body {
    font-family: 'Pretendard-Regular';
  }
  .mypage {
  
    background-color: white;
    position: absolute;
    top: 550px;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 600px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);

  }
  .mypage .mypage-header {
    height:150px;
    display:flex;
    align-items:center;
    text-align:center;
  }
  .mypage .mypage-header > div {
    width:calc(100% / 3);
    color:#ddd;
    font-size:18px;
    font-weight:600;
    margin-top: 50px;
    cursor:pointer;
  }
  .mypage.info .mypage-header div.show-info {
    color:#7ABEDD;
  }
  .mypage.dlist .mypage-header div.show-dlist{
    color:#7ABEDD;
  }
  .mypage.alist .mypage-header div.show-alist {
    color:#7ABEDD;
  }
  .mypage .mypage-elements {
    margin-top:35px;
  }
  .mypage .mypage-elements .mypage-element {
    height:250px;
    opacity:1;
    overflow:hidden;
    transition:all 500ms ease-in-out;
  }
  .mypage .mypage-elements input {
    width:80%;
    padding:10px;
    font-size:16px;
    margin:5px 0px;
    border-radius:10px;
    box-sizing:border-box;
    border:1px solid lightgrey;
    background:#f5f5f5;
  }
  .mypage .mypage-elements button {
    width:80%;
    padding:10px;
    font-size:16px;
    font-weight:600;
    border-radius:10px;
    background:#7ABEDD;
    color:white;
    cursor:pointer;
    border:none;
    outline:none;
  }
  
  
  .mypage .dlist .mypage-elements > div:nth-child(3) {
    height:0px;
    opacity:0;
  }
  .mypage .alist .mypage-elements > div:nth-child(2),
  .mypage .alist .mypage-elements > div:nth-child(3) {
    height:0px;
    opacity:0;
  }
  
  .nickname{
  margin-top: 15px;
  border-bottom: 1px solid lightgray;
  }
  
  .phone {
  margin-top: 15px;
  border-bottom: 1px solid lightgray;
  }
  
  .address {
  margin-top: 15px;

  }

  .info-title{
    color: rgb(52, 52, 53);
    font-weight: bolder;
  }

  /*******************************************************************************************************************/
   /* 후원내역 */  

  .donate-list{
    background-color: white;
    position: absolute;
    top: 525px;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 600px;
    padding: 10px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
  }
  
  .donate-list{

  height: 550px;
  }
  
  
  .donate{
  position: relative;
  left: 55px;
  top: 30px;
  line-height: 40px;
  border: none;
  color: gray;
  font-size: large;
  font-weight: bold;
  text-align: center;

  }

 


   /*******************************************************************************************************************/
   /* 신청내역 */


  .apply-list{

    background-color: white;
    position: absolute;
    top: 525px;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 600px;
    padding: 10px;

    
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
  }
  
  .apply-list{

    height: 550px;
  }
  
  .apply-none{
  color: gray;
  font-size: larger;
  font-weight: bold;
  margin-top: 30%;
  text-align: center;
  }

  .apply{
    
    position: relative;
    left: 45px;
    top: 30px;
    line-height: 35px;
 
    border: none;
    color: gray;
    font-size: large;
    font-weight: bold;
    text-align: center;
  
  }
  

   /*******************************************************************************************************************/
   /* 버튼영역 */


  .btn-area{
  width: 30%;
  border: none;
  text-align: right;
  margin-bottom: 100px;
  margin-left: 250px;
  
  }
  
  .cancle-btn{
  position: relative;
    left: 50px;
  background-color: white;
  text-decoration: underline #B0DBEF;
  text-decoration-thickness: 2px;
  font-weight: 600;
  border: none;
  cursor:pointer;
  
  }
  
  .edit-btn{
  background-color: white;
  text-decoration: underline #B0DBEF;
  text-decoration-thickness: 2px;
  font-weight: 600;
  border: none;
  cursor:pointer;
  }
  
  .passwordwithdrwalcon{
  
  word-spacing: 10px;
  width: 150px;
  text-align: right;
  position:absolute;
  top:550px;
  left:310px;
  transform:translate(-50%,-50%);
  }
  
  #password-edit-btn{
  color: rgb(95, 95, 95);
  background-color: white;
  text-decoration: underline #B0DBEF;
  text-decoration-thickness: 2px;
  font-weight: 600;
  border: none;
  cursor:pointer;
  }
  
  #withdrwal-btn{
  color: rgb(95, 95, 95);
  background-color: white;
  text-decoration: underline #B0DBEF;
  text-decoration-thickness: 2px;
  font-weight: 600;
  border: none;
  cursor:pointer;
  }
  
  a:link{
  color: rgb(95, 95, 95);
  }

  
  
  
  
  
  /* ************************************************************ */

 /*마이페이지*/
  
  .main input[type=radio] {
  display: none;
  }
  #tab-1:checked ~ .tab label:nth-child(1),
  #tab-2:checked ~ .tab label:nth-child(2),
  #tab-3:checked ~ .tab label:nth-child(3){
  background-color: #7ABEDD;
  border-radius: 5px;

  color: white;
  box-shadow: none;
  }
  .content > div {
  display: none;
  }
  #tab-1:checked ~ .content div:nth-child(1),
  #tab-2:checked ~ .content div:nth-child(2),
  #tab-3:checked ~ .content div:nth-child(3){
  display: block;
  }
  .main {
    margin: 0 auto;
    text-align: center;
    padding: 4% 0px;
    margin-top: 120px;
    width: 500px;
  
  }
  .tab {
  margin-right: 40px;
  overflow: hidden;
  display: flex;

  
  }
  .tab label {
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    width: 30%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
  }
  .content {

  min-height: 300px;
  }
  .content > div{
   padding: 30px;
   line-height: 1.5;
   font-size: 17px;
  }
  
  #address-title{
    position: relative;
    top: 10px;
  }
  
 /* ************************************************************************* */ 
  /*후원내역 없음*/


  /*후원내역 있을 때 */
  .hiddenNoDList {
    display: none;
  }


.noList{

  width: 35%; 
  margin: auto; 
  margin-top: 120px;
  margin-left: 80px;

}

.noList-title{

   font-size: larger; 
   font-weight: bold;  
   color: gray; 
   margin: auto; 
   margin-top: 10px;
   margin-left: -110px;

}



  /* 신청내역 있을 때 */
  .hiddenNoAList {
    display: none;
  }


  /*******************************************************************/

  /*신청내역 없음*/

  .noList-a{
    width: 35%; 
    margin: auto; 
    margin-top: 150px;
  }

  .noList-a-title{
    font-size: larger;  
    font-weight: bold;  
    color: gray; 
    margin: auto; 
    margin-top: 10px;
    margin-left: 5px;
  }
 /* ************************************************************************* */ 