@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular';
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

/********************************************************************/
/*비밀번호입력*/


.mypage-title-con{
  position: relative;
  text-align: center;
  top:180px;
  left:50%;
  transform:translate(-50%,-50%);
  width:300px;
  height:250px;
  padding:10px;
}


body {
  font-family: 'Pretendard-Regular';
}
.mypage {
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  width:400px;
  height:250px;
  padding:px;
}
.mypage .mypage-header {
  height:30px;
  display:flex;
  align-items:center;
  text-align:center;
}
.mypage .mypage-header > div {
  width:calc(100% / 3);
  color:#ddd;
  font-size:18px;
  font-weight:600;
  cursor:pointer;
}
.mypage.signup .mypage-header div.show-signup {
  color:#7ABEDD;
}
.mypage.signin .mypage-header div.show-signin {
  color:#7ABEDD;
}
.mypage.reset .mypage-header div.show-reset {
  color:#7ABEDD;
}
.mypage .mypage-elements {
  margin-top:15px;
}
.mypage .mypage-elements .mypage-element {
  height:80px;
  opacity:1;
  overflow:hidden;
  transition:all 500ms ease-in-out;
}
.mypage .mypage-elements input {
  width:100%;
  padding:10px;
  font-size:16px;
  margin:5px 0px;
  border-radius:10px;
  box-sizing:border-box;
  border:1px solid lightgrey;
  background:#f5f5f5;
}

/* 탈퇴버튼 */
.mypage .mypage-elements button {
  width:100%;
  padding:10px;
  font-size:16px;
  font-weight:600;
  margin-top:20px;
  border-radius:10px;
  background:#7ABEDD;
  color: white;
  cursor:pointer;
  border:none;
  outline:none;
}



.mypage .signin .mypage-elements > div:nth-child(3) {
  height:0px;
  opacity:0;
}
.mypage .reset .mypage-elements > div:nth-child(2),
.mypage .reset .mypage-elements > div:nth-child(3) {
  height:0px;
  opacity:0;
}

.con{
  height: 500px;
}


/* ************************************************* */
/* 약관동의 */

.line{
  position: relative;
  border: 1px solid lightgray;
  
}

.member{
  margin-top: 15px;
}

.line1{
  border: 1px solid lightgrey;
  margin-top: 20px;
}

.line2{
  border: 1px solid lightgrey;
  margin-top: 12px;
}



label {
  
  margin: auto;

  /* display: block; */
  display: inline;
  width: 500px;


}

.agree-con{
  position: relative;
  
  margin-top: 20px;
}

#agree{
  width: 500px;
}

.agree-box1{
  position: relative;
  top: 10px;
  left: 233px;
}

.agree-box2{
  position: relative;
  top: 10px;
  left: 287px;
}

.agree-box3{
  position: relative;
  top: 10px;
  left: 220px;
}

