/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 1px solid black;
} */

.boxSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:350px;
    align-items: center;
}


.searchBox{
    padding-top: 30px;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}

#searchId, #searchName {
    margin-bottom: 15px;    
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
}

#searchPw, #searchEmail{
    margin-bottom: 15px;    
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
}
/* ******비밀번호 찾기********** */
#search2Id {
    margin-bottom: 10px;    
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
}

#search2Pw{
    margin-bottom: 10px;    
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
}
#search2Email{
    margin-bottom: 10px;    
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
}

#searchTitle{
    margin-top: 15px;
    margin-bottom: 15px;
}

#complete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    
    background-image: url("/images/logo3.png");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
}

#complete > div{

    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}



#x{
    display: flex;
    text-align: center;
    justify-content: center;
    /* flex-direction: column; */
    color: #4C8DC3;

}

#x > div{
    display: flex;
    width: 80px;
    height: 1.5px;
    background-color: #4C8DC3;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-basis: 30%;
}

#y{
    color: rgba(0, 0, 0, 0.843);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    text-align: center;
    flex-basis: 65%;
    font-size: 17px;
}

#completeComment{
    font-weight:500;
    margin-top: 10px;
    text-decoration: underline;
}

#z{
    margin: auto;
    margin-top: 80px;
    width: 300px;
    flex-basis: 5%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B0DBEF;
    border-radius: 5px;
    height: 50px;
    
 
}

  #z:hover {
    background:#7ABEDD;
  }
  

#searchIdTitle {
    font-size:30px;
    margin: auto;
    margin-top: 50px;
}



/* ******** */

#searchIdTitle2{
    font-size: 25px;
}

#y > h2{
    margin-bottom: 10px;
}


#x1{
    display: flex;
    text-align: center;
    justify-content: center;
    /* flex-direction: column; */
    color: #4C8DC3;

}

#x1 > div{
    display: flex;
    width: 80px;
    height: 1.5px;
    background-color: #4C8DC3;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-basis: 30%;

}
