main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    /* border: 1px solid black; */
}

#head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#head > h3 {
    font-weight: 200;
    margin-top: 10px;
}


.loginfield {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border: transparent;
}     

.normalBtn{
    height: 40px;
    width: 350px;
    margin-bottom: 20px;
    font-size: 17px;
    padding: 5px;
}

h2{
    margin: 40px 0 20px 0;
}

.checkField{
    display:flex;
    flex-direction: column ;
    justify-content: center ;
    font-size: 15px;

}

.checkbox_all{
    display: flex;
    flex-direction: row;
}

.checkbox{
    display: flex;
    flex-direction: row;
}


.agreeText{
    display: flex;
    flex-direction: row ;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}


#submitBtn{
    width: 350px;
    margin-top: 40px;
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #B0DBEF;
    border: transparent;
}

#submitBtn:hover{
    background: #7ABEDD;
}

.a{
    margin-left: 7px;
    margin-top: 12px;
    margin-bottom: 10px;
}

#complete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 600px;

    background-image: url("/images/logo3.png");
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center;
   
    margin: auto;
    margin-top: 150px;

}

#complete > div{

    height: 450px;
    display: flex;
    flex-direction: column;
}

#x{

    display: flex;
    text-align: center;
    justify-content: center;
    /* flex-direction: column; */
    color: #4C8DC3;

}

#x > div{

    display: flex;
    width: 200px;
    height: 1.5px;
    background-color: #4C8DC3;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-basis: 30%;
}

#y{
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    text-align: center;
    flex-basis: 65%;
    font-size: 17px;
}

#completeComment{
    font-weight:500;
    margin-top: 10px;
}

#z{
    flex-basis: 5%;
    font-size: 25px;
    background-color: #B0DBEF;
    border-radius: 5px;
    width: 300px;

    text-align: center;
}


  #z:hover {
    background:#7ABEDD;
  }
  

 