main {
    margin: -10px 70px 0 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
    top: 170px;
}

#sub-title{
  margin: auto;
  margin-top: 100px;
  font-weight: bolder;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.785);
}



#registerBtn{
    width: 370px;
    height: 100px;
    border-radius: 30px;
    margin-bottom: 100px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
  
    cursor: pointer;
    border: transparent;

    /* background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75); */

    background: #63A3D0;
    background: linear-gradient(0deg, #86d2f5 0%, #2497e9 100%);
    border: none;   
}


  #registerBtn:before {
    height: 0%;
    width: 2px;
  }

  #registerBtn:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  

#popupLayer{
    width: 550px;
    height: 450px;
    border: 3px solid #4C8DC3;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    position: fixed; 
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;

  }

  #footer{
    margin-top:150px;
  }

/* popup layer 행 */
.popup-row{
    padding: 10px;
    margin: 30px;
    margin-top: 30px;
    position : relative;
    
    width: 90%;
    font-size: 18px;
  }
  

  .popup-row > h2 {
    text-align: center;
    margin-top: -10px;
  }


  .popup-row > span {
    color: #4C8DC3;
  }
  
  
  /* popup layer 숨기기/보이기 */
  .popup-hidden{ display: none !important; }
  
  
  /* x 버튼 */
  #popupClose{
  
   
    position: absolute; 
  
    top: -10px;  
    right: -10px; 
  
    font-size: 40px;
    font-weight: bold;
  
    user-select: none; /* 드래그 방지 */
  
    cursor: pointer; /* 커서 손가락 모양 */
  }
  
  #popupClose:hover{ color :grey; }
  
  #popupClose:active{ color : red; }
  
  
  /* 버튼 영역 */
  .btn-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .btn-container > button{
     margin: 5px;
     background-color: #7ABEDD;
     cursor: pointer;
     border: transparent;
    }



.registerInput{
    border: transparent;
    border-bottom: 1px solid grey;
    font-size: 17px;
    padding: 3px;
}

#registerBtn2{
  font-weight: bold;
    margin: auto;
    margin-top: -5px;
    width: 300px;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    background-color: #B0DBEF;
}



#registerBtn2:hover {
  background:#7ABEDD;
}



#TDRegisterName, #TDRegisterName2, #TDRegisterName3{
    width: 350px;
}
#TDRegisterTel, #TDRegisterTel2, #TDRegisterTel3{
    width: 310px;
}

#TDRegisterSort{
    width: 415px;
}
#TDRegisterDate, #TDRegisterDate2, #TDRegisterDate3{
    width: 375px;
}

#imglogo {
  margin-top: -10px;
   width: 100px;
   height: 50px;

}


.logo-container{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;

}


.dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;


    
    background: rgba(0, 0, 0, .8);
   
}

#atitle2{
 text-align: center;
 margin: auto;
 margin-top: 20px;
}

.popup-row2{
    padding: 8px;
    margin: 20px 20px 15px 20px;
    margin: auto;
    margin-top: 5px;
    position : relative;
    
    width: 90%;
    font-size: 18px;
}

.popup-row2 > span {
    color: #4C8DC3;
  }

.confirm {
    color: green;
}

.error{
    color: rgb(248, 135, 135);
    font-size: 20px;
}  

























/**********************************************/
/* #registerBtn{
    width: 400px;
    height: 100px;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-top: 0;
    font-size: 25px;
    background-color: #7ABEDD;
    cursor: pointer;
    border: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
} */
