main {
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#registerBtn{
    width: 400px;
    height: 100px;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-top: 0;
    font-size: 25px;
    background-color: #7ABEDD;
    cursor: pointer;
    border: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#popupLayer{
    width: 550px;
    height: 450px;
    border: 3px solid #4C8DC3;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    position: fixed; 
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;

  }

/* popup layer 행 */
.popup-row{
    padding: 10px;
    margin: 20px;
    margin-top: 25px;
    position : relative;
    
    width: 90%;
    font-size: 18px;
  }
  
  .popup-row > h2 {
    margin-top: 10px;
  }


  .popup-row > span {
    color: #4C8DC3;
  }
  
  
  /* popup layer 숨기기/보이기 */
  .popup-hidden{ display: none !important; }
  
  
  /* x 버튼 */
  #popupClose{
  
   
    position: absolute; 
  
    top: 0px;  
    right: 10px; 
  
    font-size: 30px;
    font-weight: bold;
  
    user-select: none; /* 드래그 방지 */
  
    cursor: pointer; /* 커서 손가락 모양 */
  }
  
  #popupClose:hover{ color :grey; }
  
  #popupClose:active{ color : red; }
  
  
  /* 버튼 영역 */
  .btn-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .btn-container > button{
     margin: 5px;
     background-color: #7ABEDD;
     cursor: pointer;
     border: transparent;
    }



.registerInput{
    border: transparent;
    border-bottom: 1px solid black;
    font-size: 17px;
    padding: 3px;
}

#registerBtn2{
    width: 300px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}


#TDRegisterName, #TDRegisterName2, #TDRegisterName3{
    width: 367px;
}
#TDRegisterTel, #TDRegisterTel2, #TDRegisterTel3{
    width: 333px;
}

#TDRegisterSort{
    width: 415px;
}
#TDRegisterDate, #TDRegisterDate2, #TDRegisterDate3{
    width: 383px;
}

#imglogo {
    width: 80px;
    height: 50px;
}

.logo-container{
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 35px;

}


.dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;


    
    background: rgba(0, 0, 0, .8);
   
}





.popup-row2{
    padding: 8px;
    margin: 15px 20px 15px 20px;
    position : relative;
    
    width: 90%;
    font-size: 18px;
}

.popup-row2 > span {
    color: #4C8DC3;
  }

.confirm {
    color: green;
}

.error{
    color: rgb(248, 135, 135);
    font-size: 20px;
}  