<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.goodWave.boardMapper.BoardMapper">
  
   <select id="getListCount" resultType="_int">
			SELECT COUNT(*)
			FROM "QNABOARD"
			WHERE BOARD_DEL_FL ='N'
   </select>
   
   <select id="selectBoardList">
   	
   	
   	SELECT BOARD_NO, BOARD_TITLE, MEMBER_NAME, BOARD_WRITE_DATE, READ_COUNT ,

(SELECT COUNT(*) FROM "COMMENT"C WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
  
  
  <![CDATA[

CASE 
	
	WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60 
	THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60  ) || '초 전'
	
	 WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 
	THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24 * 60  ) || '분 전'
	
	WHEN SYSDATE - BOARD_WRITE_DATE < 1  
	THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24   ) || '시간 전'
	
	ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
	
END BOARD_WRITE_DATE 
]]>

FROM QNABOARD B
JOIN MEMBER USING(MEMBER_NO)
WHERE BOARD_DEL_FL = 'N'
ORDER BY BOARD_NO DESC
      
   
   </select>
   
	
	
	<insert id="qnaWrite">
		INSERT INTO "QNABOARD"
		VALUES(SEQ_BOARD_NUM.NEXTVAL,
					 #{boardTitle},
					 #{boardContent},
					 SYSDATE, DEFAULT, DEFAULT, DEFAULT,#{memberNo})
	</insert>
	
	
	
	<select id="selectOne">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITE_DATE, BOARD_UPDATE_DATE, READ_COUNT, MEMBER_NO, MEMBER_NAME
		FROM "QNABOARD"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_DEL_FL ='N'
	</select>
	
	
	<select id="getSearchCount">
		SELECT COUNT(*) FROM "QNABOARD"
		WHERE BOARD_DEL_FL='N'
		AND (BOARD_TITLE LIKE '%' || #{searchInput} || '%'
		OR BOARD_CONTENT LIKE '%' || #{searchInput} || '%')
	</select>
	
	
	<select id="selectSearchList">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NAME, READ_COUNT,
	
		(SELECT COUNT(*) 
		FROM "COMMENT" C
		WHERE B.BOARD_NO = C.BOARD_NO) COMMENT_COUNT,

			<![CDATA[
			CASE 
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60  -- 조건  1/24 = 한 시간
				THEN FLOOR((SYSDATE-BOARD_WRITE_DATE) * 24 * 60 * 60 ) || '초 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24  
				THEN FLOOR((SYSDATE-BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 
				THEN FLOOR((SYSDATE-BOARD_WRITE_DATE) * 24) || '시간 전'
				
				ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
				
			END BOARD_WRITE_DATE
			]]>
		
		FROM "QNABOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND (BOARD_TITLE LIKE '%' || #{searchInput} || '%'
		OR BOARD_CONTENT LIKE '%' || #{searchInput} || '%')
		ORDER BY BOARD_NO DESC
	</select>
	
	
	
	
</mapper>
