<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.goodWave.mypage.model.mapper.MypageMapper">
	
	<!--회원 정보 수정 -->
	<update id="updateInfo">
		UPDATE "MEMBER" SET
		MEMBER_NAME = #{memberName},
		MEMBER_TEL = #{memberTel},
		MEMBER_ADDRESS = #{memberAddress}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!--  회원의 비밀번호 조회 -->
	<select id="selectPw">
	SELECT MEMBER_PW
	FROM "MEMBER"
	WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw">
	UPDATE "MEMBER" SET
	MEMBER_PW = #{encPw}
	WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="secession">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 회원 봉사신청내역 -->
	<select id="applyList" resultType="Volunteer">
		SELECT ACT_NAME, TO_CHAR(REGISTRY_DATE,'YYYY-MM-DD') REGISTRY_DATE, 
		VOLUNTEER_NO, FIELD, ORDER_NO FROM VOLUNTEERLIST 
		LEFT JOIN ACTIVITY ON (ACT_NO = VOLUNTEER_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY REGISTRY_DATE ASC
	</select>
	
		<!-- 회원 후원내역 -->
	<select id="selectDonationList" resultType="Donation">
		SELECT MONEY_DONATION_TOTAL, MEMBER_EMAIL
		FROM MONEY_DONATION 
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 신청활동 취소 -->
	<delete id="cancle">
	 	DELETE FROM "VOLUNTEERLIST" 
		WHERE  ORDER_NO= #{orderNo}
		AND MEMBER_NO = #{memberNo}
		AND ACT_DATE = #{registryDate}
 	</delete>
 

</mapper>
