<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.goodWave.volunteer.model.mapper.VolunteerMapper">

	<insert id="moneyDonation">
		INSERT INTO MONEY_DONATION 
		VALUES(SEQ_MONEY_DONATION_NO.NEXTVAL,#{donationAmount},
				#{memberNo},#{donationEmail}, #{donationTel})
	</insert>

	<!--연탄 봉사-->
	<insert id="yeontan">
		INSERT INTO VOLUNTEERLIST
		VALUES(#{memberNo}, 1, #{date2}, #{yeontanName},#{yeontanTel},DEFAULT,SEQ_VOLUNTEERLIST_ORDER_NO.NEXTVAL)
	</insert>

	<!--자택방문 봉사-->
	<insert id="visit">
		INSERT INTO VOLUNTEERLIST
		VALUES(#{memberNo}, 3, #{date2}, #{visitName},#{visitTel},DEFAULT,SEQ_VOLUNTEERLIST_ORDER_NO.NEXTVAL)
	</insert>
	
	<!--재능기부 봉사-->
	<insert id="talent">
		INSERT INTO VOLUNTEERLIST
		VALUES(#{memberNo}, 2, #{date2}, #{talentDonationName}, #{talentDonationTel},#{talentDonationField},SEQ_VOLUNTEERLIST_ORDER_NO.NEXTVAL)
	</insert>
	
	<select id="check">
		SELECT COUNT(*) FROM VOLUNTEERLIST
		WHERE MEMBER_NO = #{memberNo}
		AND VOLUNTEER_NO = #{volunteerNo} 
		AND REGISTRY_DATE = #{date2}
	</select>
	
	</mapper>
