<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원완료</title>
    <th:block th:replace="~{/common/common}"></th:block>

    <link rel="stylesheet" href="/css/volunteer/donation.css">
</head>
<body>
    <th:block th:replace="~{/common/header2}"></th:block>

    <main id="complete">

        <div>
            <div id="x">
                <div></div>
                <h1>Thank You</h1>
                <div></div>
            </div>

            <div id="y">
                
                <h1>OOO님의 <br> 재능봉사 신청 감사합니다.</h1>
                <br>
                <h3 id="completeComment">확인 후 연락드리겠습니다.😊</h3>
                
            </div>

        </div>

            <div id="z">
                <a href="/">메인으로</a>
            </div>
            


    </main>



    <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>