<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원완료</title>
    <th:block th:replace="~{/common/common}"></th:block>
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
    
    <link rel="stylesheet" href="/css/introduce/introduce.main.css">
    <link rel="stylesheet" href="/css/SubNavCss/subnav.css">

    <link rel="stylesheet" href="/css/volunteer/donation.css">
</head>
<body>
    <th:block th:replace="~{/common/headerMain}"></th:block>

    <main id="complete">

        <div>
            <div id="x">
                <div></div>
                <h1> &nbsp;&nbsp;&nbsp;  Thank You &nbsp;&nbsp;&nbsp; </h1>
                <div></div>
            </div>

            <div id="y">
                
                <h1 th:text="|${registerName}님의|"></h1>
                <h1>방문봉사 신청 감사합니다.</h1>
                <br>
                <h3 id="completeComment">확인 후 연락드리겠습니다.😊</h3>
                
            </div>

        </div>

            <div id="z">
                <a href="/">메인으로</a>
            </div>
            


    </main>



    <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>