<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="~{/common/common}"></th:block>
    <link rel="stylesheet" href="/css/volunteer/talentDonation.css">
</head>
<body>
    <th:block th:replace="~{/common/header2}"></th:block>

    <main>
        <img src="/images/volunteer/visit.webp">

   

    <button id="registerBtn" type="button"> 신청하기 </button>

    <!-- 로그인 했을 때 -->
          <!-- <th:block th:if="${session.loginMember != null}"> -->
          <!-- 버튼 클릭 시 나타나는 후원신청 form -->
          <div id="popupLayer" class="popup-hidden" >
            <form action="#" method="post" id="visitForm">
                <div class="popup-row"> 
                    <h2>신청하기</h2>
    
                    <hr>
                    <br>
    
                    신청자 이름 <span>*</span>
                    <input type="text" id="TDRegisterName3" class="registerInput" name="name">
                    
                    
        
                    <span id="popupClose">&times;</span>
                </div>
    
                <div class="popup-row">
                    신청자 전화번호 <span> * </span>  
                    <input type="tel" id="TDRegisterTel3" class="registerInput">
                    
                    
                  </div>
                  <div class="popup-row">
                    
                    신청날짜 <span>*</span> 
                    <input type="date" id="TDRegisterDate3" class="registerInput"> 
    
                  </div>
                  <div class="btn-container">
                    <button id="registerBtn2">신청하기</button>
                    
                  </div>
            </form>

            <div class="logo-container">
             <img src="/images/GOODWAVE.png" id="imglogo">
            </div>
        </div>
        <!-- 버튼 클릭 시 나타나는 후원신청 form -->
     
        </main>




    <div id="a"></div>
    <th:block th:replace="~{/common/footer}"></th:block>

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember}]]*/ "로그인 회원";
  
      </script>


    <script src="/js/volunteer/visit.js"></script>
</body>
</html>