    /* border: 1px solid black; */



  nav{
    background-color: transparent;
    color: black;
    display: flex;
    position: sticky;
    height: 100px;
    width: 1920px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 900;
    /* border: 1px solid black; */

  }

  nav > ul {
    display: flex;
    list-style: none;
    height: 100%;
    flex-basis: 70%;
    justify-content: center;
    margin-top: 30px;
  }
  
  nav li {
    margin-left: 50px;
    font-size: 30px;
 
  }

  .header1div {
    flex-basis: 15%;
    margin-left: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    justify-items: center;
    align-items: center;
    display: flex;
  }

  nav > div:last-child{
    flex-basis: 15%;
    justify-content:flex-end;
    display: flex;
    margin-right: 20px;
  }

#navlogo{
  height: auto;
  width: 80px;
  margin-left: 15%;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

nav button {
  height: 45PX;
  border-radius: 20%;
  padding: 3%;
  width: 70px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  margin-top: 4px;
  
}

#right-icon {
  font-size: 30px;
  margin-top: 10px;
}

.headerRight{
  display: flex;
  margin-top: 20px;
}

.headerRight div{
  display: flex;
  justify-items: center;
  text-align: center;
  margin-right: 7%;

  
}

/* *************************** */
.header2ul {
  display: flex;
  list-style: none;
  height: 100%;
  flex-basis: 79%;
  justify-content: flex-start;
  margin-top: 30px;
}

.header2div{
  flex-basis: 6%;
  margin-left: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  justify-items: center;
  align-items: center;
  display: flex;
}