@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


img{
    display:block
}

.story_first_img_div{
    overflow: hidden;
}
.story_first_img_div_img{
    transition: 0.1s linear;
}

.error{
    color:red;
}

.confirm{
    color:green;
}


.middle_main , .middle_main_slick{

    height: 1020px;
    background-color: rgb(185, 165, 165);
    position: relative;
    bottom: 100px;
    z-index: 1;
   
    overflow: hidden;
}



.section1 {
    width: 100%;
    height: 350px;
    display: none;
    position: absolute;
    top: 100px;
    width: 1903px;
    left:1px;
    grid-template-columns: 220px 220px 220px 220px;
    background-color: rgb(255, 255, 255);
    z-index: 150;
    justify-content: center;
    text-align: center;
    
}

.scrollTop_div{
    position:fixed;
    right:50px;
    display:none;
    bottom: 40px;
    z-index: 99;
    width:60px;
    height:60px;
    cursor: pointer;
    
}

.story_font_box{
    text-align: center;
}

.story_div_box{
    width: 77%;
    margin: 0 auto;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
}

#wrap{
    width:1903px;
    overflow: hidden;
}

.story_div_box_box_first{
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 430px 170px;
    /* border: 1px solid black; */
    box-shadow: 7px 5px 8px 1px #bdbdbd;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-100px);
    transition: 0.5s;
}

.story_div_box_box_second{
    display: flex;
    
    
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}



.story_flex_box {
    flex-basis: 47%;
    height: 300px;
    display: grid;
    grid-template-rows: 210px 90px;
    box-shadow: 7px 5px 8px 1px #bdbdbd;
    cursor: pointer;
}



#fix_img{
    width: 337px;
    height: 213px;
}

.story_img_2_font{
    font-weight: 900;
    padding: 20px;
    font-size: 18px;
    color: #000000;
}

.img_class_story{
    transition: 0.1s linear;
}

.give_people_font_box{
    margin-top:150px;
}

.story_flex_box_transition_box{
    overflow: hidden;
}
.h2_give_font{
    font-weight: 900;
    font-size: 50px;
    position: relative;
    left: 310px;

}

.give_people_flex_box{
    display: flex;
    column-gap: 15px;
}

.good_wave_subject_p{
    color: grey;
    position: relative;
    left: 310px;
    top: 40px;
    font-size: 27px;

}

.stack_up_box{
    margin-top: 70px;
    background-color: #e0ebf5;
    width: 100%;
    height:500px;
    

}

.stack_up_flex_box{
    display: flex;
    column-gap: 25px;
    /* width: 660px; */
    position: relative;
    left: 310px;
    /* bottom: 60px; */
    top: 70px;
}

.good_wave_story_box{

    text-align: center;
    width: 250px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #63A3D0;
    font-size: 20px;
    font-weight: 700;
    color: #63A3D0;
    cursor: pointer;
    transition: 0.2s linear;
}

.good_wave_story_box:hover{
    background-color: #63A3D0;
    color:white;
}

.count_up_flex_box{
    display: flex;
    column-gap: 280px;
    justify-content: center;
    margin-top: 70px;

}

.count_up{
    width:200px;
    height:100px;
    
    text-align: center;
}

.count_up_p{
    color: gray;
    font-size: 17px;
    white-space: nowrap;

}

.li_count_up_li{
    font-weight: 900;
    font-size: 75px;
}

.low_font{
    font-size:25px;
    font-weight:900;
}

#stick_sticks{
    height: 250px;
    display: flex;
    justify-content: center;
    column-gap: 90px;
    /* margin-top: 30px; */
    position: relative;
    top: 50px;
}

.stick_div_box{
    flex-basis: 18%;
    display: grid;
    column-gap: 35px;
    grid-template-columns: 139px 223px;
    margin-top: 25px;
}

.stick_img > img{
    height:auto;
}


.font_weight_ppp{
    position: relative;
    top: 53px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.h2_give_font{
    transform: translateY(100px);
    transition:0.5s linear;
    opacity: 0;
}

#volunteer_list{
    width: 90%;
    height: 700px;
    margin: 150px auto;
}

.volunteer_h2{
    font-weight: 900;
    font-size: 51px;
    text-align: center;
    transition: 0.4s linear;
    transform: translateY(100px);
    opacity: 0;
}

.volunteer_span{
    color: grey;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    display: block;
}

.volunteer_wrap_box{
    margin-top:50px;
    
  
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 7px 5px 8px 1px #bdbdbd;
}


.volunteer_box_1{
    overflow: hidden;
    transform: translateX(-100px);
    
}
.volunteer_box_2{
    overflow: hidden;
    transform: translateY(-100px);
    
}
.volunteer_box_3{
    overflow: hidden;
    transform: translateY(100px);
    
}



    .volunteer_box_1, .volunteer_box_2, .volunteer_box_3{
       
        position: relative;
        transition:0.3s linear;
        opacity: 0;
       
    }

    

.story_h2_font{
    opacity: 0;
    transition:0.5s linear;
    transform: translateY(50px);
}

.volunteer_box_2_div1{
    height: 300px;
}


.blur_img {
   
    height:100%;
}




    .volunteer_box_1_font{
        position: relative;
        bottom: 520px;
        color: white;
        left: 340px;
    }
 /* .blur_img::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: calc(100% - 91%);
    height: calc(100% - 50%);
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(20px);
}  */





.volunteer_box_1_font_p1{
        
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 15px;
}

.volunteer_box_1_font_p2{
    line-height:30px;
}

.more_view{
    width:150px;
    height:50px;
    border:1px solid white;
    text-align: center;
    line-height: 50px;
    background-color: transparent;
    color:white;
    margin-top:30px;
    cursor: pointer;
    transition: 0.1s linear;
    display: block;

}

.blur_img2{
    height: 44%;
}

.volunteer_box_2_div2{
    height:300px;
}

.volunteer_box_1_font_sujeong{
    position: relative;
    bottom: 520px;
    color: white;
    left: 50px;
}

#gongji_wrap{
    width:70%;
    margin:190px auto;
}

.gongji_h2{
    font-size:51px;
    transition: 0.5s linear;
    transform: translateY(100px);
    opacity: 0;
}

#give_box{
    width:120px;
    height:120px;
    background-color: #7ABEDD;
    border-radius: 100px;
    position:fixed;
    right:20px;
    bottom:130px;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    color:white;
}

.give_box_img{
    width: 70%;
    height: 60%;
    /* margin: 7px auto; */
    margin: 7px 8px;
}




    #volunteer_a{
        text-decoration: none;
        color: inherit;
        
        width: 120px;
        border-radius: 100px;
        height: 120px;
        display: none;
    }


   .story_flex_box{
    opacity: 0;
    transition: 0.3s linear;
    transform: translateX(50px);
   }

   #gongji_grid_box{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 25px;
    height:550px;
    margin-top:70px;
   }

   #gongji_grid_box > div{
    border: 1px solid black;
    /* text-align: center; */
    border-radius: 10px;
    cursor: pointer;
    
    font-weight: 700;
   
    font-size: 26px;
    color: #212121;
     word-spacing: 5px;
   }

   .gongji_p{
    line-height: 118.75px;
    transition: 0.1s linear;
    flex-basis: 73%;
    margin-left:40px;
    }

    .gongji_div{
        transition: 0.3s linear;
        transform: translateY(100px);
        opacity: 0;
    }

    .gongji_date{
        color: grey;
    
    font-size: 17px;
   
    flex-basis: 11%;
    }

    .jasehi{
        padding: 13px;
    font-size: 18px;
    background-color: #dfdfdf;
    position:relative;
    left:30px;
    transition: 0.1s linear;
    }

    .jasehi:hover{
        background-color:#63A3D0;
        color:white;
    }

    .gongji_p:hover{
        color:#63A3D0
    }
 
    .gongi_div_p{
        float: right;
    position: relative;
    bottom: 50px;
    font-size: 30px;
    opacity: 0;
    transform: translateY(100px);
    transition: 0.3s linear;
    }

    .plus_span{
        font-size: 40px;
        color: grey;
        transition: 0.3s linear;
        display: block;
        transform-origin: 50% 57%;
        float: right;
        position: relative;
        bottom: 9px;
      

}

.histroy_wrap_box_flex_box{
    transition: 0.5s linear;
    opacity:0;
    transform: translateY(100px);
}

.core_box_wrap{
    margin: 200px auto;
    height: 950px;
    width: 100%;
}

.core_font_box{
    position: relative;
    bottom: 850px;
    left: 100px;
    font-size: 34px;
}

.core_font_h2{
    color: #333333;
}

.core_font_span{
    color: #79e37d;
    font-weight: 900;
}


.core_box_values{
    width:90%;
    margin:100px auto;
   
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
}

.core_box_values_box{
  
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 150px;
    position: relative;
    bottom: 20px;
    text-align: center;
}

.core_box_values_box_p2{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}

.core_box_values_box_p1{
    font-size:24px;
    font-weight: 600;
}

.core_box_values_box:nth-of-type(2)::before{
    content: "";
    width: 1px;
    height: 130px;
    background-color: #c1c1c1;
    position: absolute;
}
.core_box_values_box:nth-of-type(3)::before{
    content: "";
    width: 1px;
    height: 130px;
    background-color: #c1c1c1;
    position: absolute;
}
.core_box_values_box:nth-of-type(4)::before{
    content: "";
    width: 1px;
    height: 130px;
    background-color: #c1c1c1;
    position: absolute;
}
.core_box_values_box:nth-of-type(6)::before{
    content: "";
    width: 1px;
    height: 130px;
    background-color: #c1c1c1;
    position: absolute;
}
.core_box_values_box:nth-of-type(7)::before{
    content: "";
    width: 1px;
    height: 130px;
    background-color: #c1c1c1;
    position: absolute;
}
.core_box_values_box:nth-of-type(8)::before{
    content: "";
    width: 1px;
    height: 130px;
    background-color: #c1c1c1;
    position: absolute;
}

#myPageForm{
    border-radius: 10px;
    position: absolute;
    top: 100px;
    width: 200px;
    display: grid;
    height: 150px;
    right: 43px;
    grid-auto-columns: auto;
    background-color: white;
    box-shadow: 1px 1px 6px 1px #353434;
    color: grey;
    justify-content: flex-start;
    overflow: hidden;
    font-weight:500;
   
    grid-template-rows: repeat(3, 1fr);
    display:none;

}

#myPageForm div{
    align-items: center;
    width: 205px;
    font-size: 14px;
    
}

.myPageThree{
    position: relative;
    left: 34px;
}

.hover_a{
    transition: 0.1s linear;

}

.navImage{
    width: 20px;
    height: 20px;
    position: relative;
    left: 15px;
}

.hover_a:hover{
    background-color:rgb(230, 230, 230);
}

.gongi_aaa{
    text-decoration: none;
    display: flex;
    color: inherit;
    align-content: center;
    align-items: center;
   
}



















