<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>마이페이지</title>

   <link rel="stylesheet" href="/css/mypage/mypage.css">

</head>
<body>
   
   <div class="mypage-title-con">
   <section class="mypage-title-sub"><h2>굿웨이브의 선한 물결,<br>000님 반갑습니다.</h2></section>
   </div>
   
 
   <div>
      
   </div>

   <!--내정보-->
   <div class="mypage info">
       <div class="mypage-header">
         <div class="show-info">내정보</div>
         <div class="show-dlist">후원내역</div>
         <div class="show-alist">신청내역</div>
       </div>
     
       <div class="mypage-elements">
         <h4 class="info-title">닉네임</h4>
         <div class="mypage-element">
           <div class="nickname">회원1</div>
         </div>

         <h4 class="info-title">전화번호</h4>
         <div class="mypage-element">
           <div class="phone">010-1234-1234</div>
         </div>

         <h4 class="info-title">주소</h4>
         <div class="mypage-element">
           <div class="address">서울시 00구 00동 </div>
         </div>

         
         <div class="mypage-element">
           <button id="submit-btn">수정하기</button>
         </div>
       </div>

<!--비밀번호변경 / 회원탈퇴 -->
<div class="passwordwithdrwalcon">
 <button id="password-edit-btn"><a href="/GoodWave/src/main/resources/templates/mypage/passwordchange.html">비밀번호 변경</a></button>
 <button id="withdrwal-btn"><a href="/GoodWave/src/main/resources/templates/mypage/withdrwal.html">회원탈퇴</a></button>
</div>
<!--비밀번호변경 / 회원탈퇴 -->


     </div>
     <!--내정보-->

        <!--후원내역-->
        <!-- <div class="donate-list">
         <div class="donate-none">후원 내역이 없습니다.</div> -->
         <!--<div class="donate">2024.04.08 20,000원</div>--> 
        <!-- </div> -->
       <!--후원내역-->


       <!-- 신청내역 -->
      <!-- <div class="apply-list"> -->
       <!--<div class="apply-none">신청 내역이 없습니다.</div>--> 
       <!-- <div class="applt-area">
       <div class="apply">2024.11.25 연탄봉사활동</div>
       </div> 

        <div class="btn-area">
        <button class="edit-btn">수정</button> &nbsp;
        <button class="cancle-btn">취소하기</button> 
       </div>
      </div> -->
      <!-- 신청내역 -->


   


  
     <script src="/js/mypage/mypage.js"></script>
       
</body>
</html>