 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>

    <link rel="stylesheet" href="/GoodWave/src/main/resources/static/css/mypage/mypage.css">

 </head>
 <body>
    
    <div class="mypage-title-con">
    <section class="mypage-title-sub"><h2>굿웨이브의 선한 물결,<br>000님 반갑습니다.</h2></section>
    </div>

    <div class="mypage signup">
        <div class="mypage-header">
          <div class="show-signup">내정보</div>
          <div class="show-signin">후원내역</div>
          <div class="show-reset">신청내역</div>
        </div>
        <div class="arrow"></div>
        <div class="mypage-elements">
          <div class="mypage-element">
            <input type="text" placeholder="Username">
          </div>
          <div class="mypage-element">
            <input type="password" placeholder="Password">
          </div>
          <div class="mypage-element">
            <input type="password" placeholder="Confirm password">
          </div>
          <div class="mypage-element">
            <button id="submit-btn">비밀번호 변경</button>
            <button id="withdrwal-btn">회원탈퇴</button>
          </div>
        </div>
      </div>



  
      <script src="/GoodWave/src/main/resources/static/js/mypage/mypage.js"></script>
        
 </body>
 </html>