<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <th:block th:replace="~{/common/common}"></th:block>

    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
    
    <link rel="stylesheet" href="/css/introduce/introduce.main.css">
    <link rel="stylesheet" href="/css/SubNavCss/subnav.css">

    <link rel="stylesheet" href="/css/mypage/mypage.css">


</head>
<body id="mypage" class="bg">

  
 
  <!--헤더-->
  <th:block th:replace="~{/common/headerMain}"></th:block>
 <!--헤더-->


<div class="main">
  <input type="radio" id="tab-1" name="show" checked/>
  <input type="radio" id="tab-2" name="show" />
  <input type="radio" id="tab-3" name="show" />

  <div class="tab">
    <label for="tab-1">내정보</label> 
    <label for="tab-2">후원내역</label> 
    <label for="tab-3">신청내역</label>
  </div>

  <div class="content">
    <div class="content-dis">
         <!--마이페이지-->
         <form  action="mypage" method="POST" name="myPageFrm" 
         id="mypage">
           <div class="mypage info">
            <div class="mypage-elements">
              <label class="info-title">이름</label>
              <div class="mypage-element1">
                <!-- <div class="nickname">회원1</div> -->
                <input type="text" name="memberName" 
                maxlength="10" id="memberName"
                th:value="${session.loginMember.memberName}" class="nickname"
                >
              </div>
     
              <label class="info-title">전화번호</label>
              <div class="mypage-element2">
                <!-- <div class="phone">010-1234-1234</div> -->
                <input type="text" name="memberTel" 
                maxlength="11" id="memberTel"
                th:value="${session.loginMember.memberTel}" class="phone"
                >
              </div>
     
              <label class="info-title" id="address-title">주소</label>
              <div class="mypage-element">
               
              <div class="address">
                <div class="myPage-row info-address">
                  <input type="text" name="memberAddress"
                    placeholder="우편번호" id="postcode"
                    th:value="${postcode}"
                    >
                  
                  <button type="button" id="searchAddress">검색</button>

                </div>
      
                <div class="myPage-row info-address">
                  <input type="text" name="memberAddress"
                    placeholder="도로명/지번 주소" id="address"
                    th:value="${address}"
                    >
                </div>
      
                <div class="myPage-row info-address">
                  <input type="text" name="memberAddress"
                    placeholder="상세 주소" id="detailAddress"
                    th:value="${detailAddress}"
                    >
                </div>
                      
                </div>
              </div>
              
              <div class="mypage-element">
                <button id="submit-btn" class="myPage-submit">수정하기</button>
              </div>          

            </div>
          </form>
            <!--마이페이지-->
     
            <!--비밀번호변경 / 회원탈퇴 -->
            <div class="passwordwithdrwalcon">
            <button id="password-edit-btn"><a href="/mypage/passwordchange">비밀번호 변경</a></button>
            <button id="withdrwal-btn"><a href="/mypage/withdrawal">회원탈퇴</a></button>
            </div>
            <!--비밀번호변경 / 회원탈퇴 -->
           </div>
    </div>

     <!--후원내역-->
        <div class="content-dis">

          <!-- 후원 내역이 있을 경우 -->
    
        <div class="donate-list"  th:object="${donation}" >
       
            <div class="donate">
     
             <table>
             
               <tbody id="dList">

               </tbody>

               <div id="noDList">
                <img src="/images/mypage/내역 없음.png" class="noList" >
                 <div class="noList-title">후원내역이 없습니다.</div>
              </div> 
          
             </table>

         </div> 

        </div> 
 
        </div>
      <!--후원내역-->



      <!-- 신청내역 -->
        <div class="content-dis">

      <div class="apply-list" th:object="${volunteer}" > 
  
        <div class="apply">

          <table>
            <thead>
                <th></th>
                <th></th>
                <th></th>
            </thead>
    
            <tbody id="aList">
            </tbody>
    
          </table>
    
        </div> 

       <div id="noAList">
        <img src="/images/mypage/내역 없음.png" class="noList-a">
         <div class="noList-a-title">신청내역이 없습니다.</div>


       </div>

       </div> 

      </div> 

      
        </div>
      <!-- 신청내역 -->

        <div></div>
   </div>

</div>


 

       

  <!--푸터-->
  <th:block th:replace="~{/common/footer}"></th:block>
  <!--푸터-->

  <!--다음 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!--마이페이지 js-->
<script src="/js/mypage/mypage.js"></script>
    
</body>
</html>