<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>

    <link rel="stylesheet" href="/css/mypage/passwordchange.css">

</head>
<body>

    <div class="mypage-title-con">
        <section class="mypage-title-sub"><h2>비밀번호 변경</h2></section>
        </div>
    
        <div class="mypage signup">
         
            <div class="arrow"></div>
            <div class="mypage-elements">
              <div class="mypage-element">
                
                <h4>현재 비밀번호</h4>
                <input type="password" placeholder="Password">
              </div>

              <div class="mypage-element">
                <h4>새 비밀번호</h4>
                <input type="password" placeholder="Confirm password">
              </div>

              <div class="mypage-element">
                <h4>새 비밀번호 확인</h4>
                <input type="password" placeholder="Confirm password">
              </div>

              <div class="mypage-element">
                <button id="submit-btn">변경하기</button>
              </div>
            </div>
          </div>


    
</body>
</html>