<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <th:block th:replace="~{/common/common}"></th:block>

    <link rel="stylesheet" href="/css/mypage/passwordchange.css">

</head>
<body>

   <!--헤더-->
   <th:block th:replace="~{/common/header2}"></th:block>
   <!--헤더-->
 

    <div class="mypage-title-con">
        <section class="mypage-title-sub"><h2>비밀번호 변경</h2></section>
        </div>
        
        <form action="passwordchange" method="post" name="myPageFrm" id="passwordchange">
        <div class="mypage signup">

            <div class="mypage-elements">
              <div class="mypage-element">
                
                <h4>현재 비밀번호</h4>
                <input type="password"  name="currentPw" id="currentPw" placeholder="Password">
              </div>

              <div class="mypage-element">
                <h4>새 비밀번호</h4>
                <input type="password" name="newPw" id="newPw" placeholder="Confirm password">
              </div>

              <div class="mypage-element">
                <h4>새 비밀번호 확인</h4>
                <input type="password" name="newPwConfirm" id="newPwConfirm" placeholder="Confirm password">
              </div>

              <div class="mypage-element">
                <button id="submit-btn" class="myPage-submit">변경하기</button>
              </div>
            </div>
          </div>
        </form>

          <div class="con"></div>

 <!--푸터-->
 <th:block th:replace="~{/common/footer}"></th:block>
 <!--푸터-->
  
<script src="/js/mypage/passwordchange.js"></script>

</body>
</html>