<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원탈퇴</title>

    <link rel="stylesheet" href="/GoodWave/src/main/resources/static/css/mypage/withdrwal.css">
    <link rel="stylesheet" href="/GoodWave/src/main/resources/static/css/member/agreement.css">

</head>
<body>

    <div class="mypage-title-con">
        <section class="mypage-title-sub"><h2>회원탈퇴</h2></section>
        </div>
    
        <div class="mypage signup">
         
            <div class="arrow"></div>
            <div class="mypage-elements">
              <div class="mypage-element">
                
                <h4>비밀번호</h4>
                <input type="password" placeholder="Password">
              </div>

              <div class="mypage-element">
                <h4>비밀번호 확인</h4>
                <input type="password" placeholder="Confirm password">
              </div>

              <h4 class="member">회원탈퇴약관</h4>
              <div class="line"></div>

              <label for="agree_all">
                <input type="checkbox" name="agree_all" id="agree_all" class="agree-box">
                <span>모두 동의합니다</span>
              </label>
              <label for="agree">
                <input type="checkbox" name="agree" value="1" class="agree-box">
                <span>이용약관 동의<strong>(필수)</strong></span>
              </label>
              <label for="agree">
                <input type="checkbox" name="agree" value="2" class="agree-box">
                <span>개인정보 수집, 이용 동의<strong>(필수)</strong></span>
              </label>

   
          



              <div class="mypage-element">
                <button id="submit-btn">탈퇴하기</button>
              </div>

              
            </div>
          </div>

          <script src="/GoodWave/src/main/resources/static/js/mypage/withdrawl.js"></script>
    
</body>
</html>