<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원탈퇴</title>
    <th:block th:replace="~{/common/common}"></th:block>

    <link rel="stylesheet" href="/css/mypage/withdrawal.css">

</head>
<body>

   <!--헤더-->
   <th:block th:replace="~{/common/header2}"></th:block>
   <!--헤더-->


    <div class="mypage-title-con">
        <section class="mypage-title-sub"><h2>회원탈퇴</h2></section>
        </div>
    
        <div class="mypage signup">
         
            <div class="arrow"></div>
            <div class="mypage-elements">
              <div class="mypage-element">

              
               <form action="withdrawal" method="POST" name="myPageFrm" id="withdrawal">
               <!--비밀번호 입력--> 
                <h4>비밀번호 입력</h4>
                <input type="password"  name="memberPw" id="memberPw" placeholder="Password">
              </div>

               <!--비밀번호 입력--> 

              <!--탈퇴약관-->
              <h4 class="member">회원탈퇴약관</h4>
              <div class="line1"></div>

              <label for="agree_all" class="checkInput" style="display: flex;">
                <div class="agree-con">전체 약관동의 철회하기</div>
                <input type="checkbox" name="agree_all" id="agree_all" class="agree-box1" style="width: 15px;">
              </label>

              <div class="line2"></div>
          

              <label for="agree" style="display: flex;">
                <div class="agree-con">이용약관<strong>(필수)</strong></div>
                <input type="checkbox" name="agree" id="agree1" value="1" class="agree-box2 " style="width: 15px;">
              </label>

              

              <label for="agree" style="display: flex;">
                <div class="agree-con">개인정보 제공 동의 <strong>(필수)</strong></div>
                <input type="checkbox" name="agree" id="agree2" value="2" class="agree-box3" style="width: 15px;">
                
              </label>
             <!--탈퇴약관-->



             
          
              <!--탈퇴버튼-->
              <div class="mypage-element">
                <button id="submit-btn" class="myPage-submit">탈퇴하기</button>
              </div>
               <!--탈퇴버튼-->
              
              </form>

            </div>
          </div>

          <div class="con"></div>

          



          


             <!--푸터-->
             <th:block th:replace="~{/common/footer}"></th:block>
             <!--푸터-->
 
          <script src="/js/mypage/withdrawal.js"></script>
    
</body>
</html>