<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주묻는질문</title>

    <link rel="stylesheet" href="/GoodWave/src/main/resources/static/css/community/FAQ.css">

</head>
<body>

    


 
    <!--제목-->
    <h1 class="title">자주묻는질문</h1>
    <h4 class="sub-title">후원자님들이 자주 묻는 질문을 정리했습니다.</h4>
  
    <!--제목-->

    <!-- 질문 / 답변 -->
    <ul class="faq-container">
      <li class="faq active">
        <div class="faq__question">
          <h3 class="faq__title">
             Q. 후원금은 어떻게 사용되나요?
          </h3>
        </div>
        <div class="faq__answer">
          <p class="faq__text">
            굿웨이브재단은 투명한 회계관리 및 조직운영, 성실한 사업보고에 최선의 노력을 기울이고 있습니다. 연간사업보고서와 소식지 ‘굿웨이브’을 통해 관련 내용을 확인하실 수 있습니다.
            연 1회 발행되는 연간사업보고서에는 전년도 사업결과 및 회계보고가 포함되어 있고, 연간 분기별로 발행되는 소식지에는 사업 내용과 나눔 참여활동 정보가 담겨 있습니다.
          </p>
        </div>
        <button class="faq__btn">
          <span class="faq__icon open">></span>
          <span class="faq__icon close">-</span>
        </button>
      </li>
      <li class="faq">
        <div class="faq__question">
          <h3 class="faq__title">
            Q. 후원금은 어떻게 사용되나요?
          </h3>
        </div>
        <div class="faq__answer">
          <p class="faq__text">
            굿웨이브재단은 투명한 회계관리 및 조직운영, 성실한 사업보고에 최선의 노력을 기울이고 있습니다. 연간사업보고서와 소식지 ‘굿웨이브’을 통해 관련 내용을 확인하실 수 있습니다.
            연 1회 발행되는 연간사업보고서에는 전년도 사업결과 및 회계보고가 포함되어 있고, 연간 분기별로 발행되는 소식지에는 사업 내용과 나눔 참여활동 정보가 담겨 있습니다.
          </p>
        </div>
        <button class="faq__btn">
          <span class="faq__icon open">></span>
          <span class="faq__icon close">-</span>
        </button>
      </li>
      <li class="faq">
        <div class="faq__question">
          <h3 class="faq__title">
            Q. 후원금은 어떻게 사용되나요?
          </h3>
        </div>
        <div class="faq__answer">
          <p class="faq__text">
            굿웨이브재단은 투명한 회계관리 및 조직운영, 성실한 사업보고에 최선의 노력을 기울이고 있습니다. 연간사업보고서와 소식지 ‘굿웨이브’을 통해 관련 내용을 확인하실 수 있습니다.
            연 1회 발행되는 연간사업보고서에는 전년도 사업결과 및 회계보고가 포함되어 있고, 연간 분기별로 발행되는 소식지에는 사업 내용과 나눔 참여활동 정보가 담겨 있습니다.
          </p>
        </div>
        <button class="faq__btn">
          <span class="faq__icon open">></span>
          <span class="faq__icon close">-</span>
        </button>
      </li>
      <li class="faq">
        <div class="faq__question">
          <h3 class="faq__title">
            Q. 후원금은 어떻게 사용되나요?
          </h3>
        </div>
        <div class="faq__answer">
          <p class="faq__text">
            굿웨이브재단은 투명한 회계관리 및 조직운영, 성실한 사업보고에 최선의 노력을 기울이고 있습니다. 연간사업보고서와 소식지 ‘굿웨이브’을 통해 관련 내용을 확인하실 수 있습니다.
            연 1회 발행되는 연간사업보고서에는 전년도 사업결과 및 회계보고가 포함되어 있고, 연간 분기별로 발행되는 소식지에는 사업 내용과 나눔 참여활동 정보가 담겨 있습니다.
          </p>
        </div>
        <button class="faq__btn">
          <span class="faq__icon open">></span>
          <span class="faq__icon close">-</span>
        </button>
      </li>
    </ul>
     <!-- 질문 / 답변 -->
    

    <script src="/GoodWave/src/main/resources/static/js/community/FAQ.js"></script>
    
</body>
</html>