<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문게시판</title>

    <link rel="stylesheet" href="/css/community/qnaboard.css">
    <th:block th:replace="~{/common/common}"></th:block>
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
 <link rel="stylesheet" href="/css/SubNavCss/subnav.css">
<link rel="stylesheet" href="/css/introduce/introduce.main.css">

</head>
<body>
    <th:block th:replace="~{/common/headerMain}"></th:block>
    <!--게시판이름 & 설명-->

    <div class="qna_borad_dd">

        <h1 class="gi">질문 게시판</h1>
        <h4 style="color: #666666;">굿웨이브 회원들의 질문 게시판입니다. <br>
            굿웨이브는 후원자님과의 소통으로 더 밝은 미래를 만들어갑니다
        </h4>
         <!--게시판이름 & 설명-->
    
         <!--목록-->
        <table>
    
            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
        
            </tr>
            </thead>
    
            <tbody>
            <tr>
                <td>1</td>
                <td class="title">제목</td>
                <td>작성자</td>
                <td>작성일</td>
                <td>조회수</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="title">제목</td>
                <td>작성자</td>
                <td>작성일</td>
                <td>조회수</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="title">제목</td>
                <td>작성자</td>
                <td>작성일</td>
                <td>조회수</td>
            </tr>
            <tr>
                <td>4</td>
                <td class="title">제목</td>
                <td>작성자</td>
                <td>작성일</td>
                <td>조회수</td>
            </tr>
            </tbody>
        </table>
        <!--목록-->
    
        <!--글쓰기 버튼-->
        <button class="write-btn" >글쓰기</button>
        <!--글쓰기 버튼-->

    </div>
   

    




    
</body>
</html>