<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="|${board.boardNo}번 글|">Document</title>
    
    <th:block th:replace="~{/common/common}"></th:block>
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
    <link rel="stylesheet" href="/css/SubNavCss/subnav.css">
    <link rel="stylesheet" href="/css/introduce/introduce.main.css">
    <link rel="stylesheet" href="/css/community/qnaBoardDetail.css">
    <link rel="stylesheet" href="/css/community/comment.js">
</head>


<body>
    <th:block th:replace="~{/common/headerMain}"></th:block>

    <main>
 
         
        <div class="QNA_TEXT">
            <h1>후기 게시판</h1>
        </div>
         

        <!--게시판  -->
        <section th:object="${board}">
            <!--게시판  -->  
            <div id="upper">
              
                    <div>
                        <p th:text="*{boardTitle}">제목</p>
                    </div>

                    <div class="boardDetail_flex">
                        <div th:text="*{memberName}" class="content_left"></div>
                        <div th:text="*{boardWriteDate}" class="content_left"></div>
                    </div>
                 
                    <div class="boardDetail_flex">
                        <p th:text="|조회수 *{readCount}|"></p>
                    </div>
                

            </div>


            <div id="bottom">
                <div th:text="*{boardContent}"> </div>
            </div>    

            
           


<!-- 이미지 -->
    <th:block th:if="${#lists.size(board.imageList) > 0}">
        <!-- 썸네일이 있을 경우 -->
        <th:block th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList) - 1)}">
            <div class="img-box shy">
                <div class="boardImg thumbnail">
                    <img th:src="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|">                             
                </div>
            </div>
        </th:block>
        
       
<!-- <th:block th:if="${#lists.size(board.imageList) > start}"> -->
        <!-- <th:block th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList) - 1)}">
            <div class="img-box">
                <div class="boardImg">

                    <img th:src="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|">  

                       
                </div>
            </div> -->
        <!-- </th:block>                                       -->
         
<!-- 이미지 -->





             <!--게시판  --> 
        </section>

    
        <div class="board_btns" style="display:flex;justify-content: flex-end;">
               
            <a th:href="@{/community/QNA(cp=${cp})}" class="list_go_btn">
                <button style="transition: 0.1s linear;
                width: 80px;
                height: 30px;
                margin-left: 10px;
                border-radius: 20px;
                font-weight: bold;
                border: 0;
                background-color: #4C8DC3;
                color: white;
                cursor: pointer;
                float: right;
                margin-bottom: 20px;" class="aaaaaaaa">목록으로</button>
            </a>
                
        
         
        <th:block th:if="${session.loginMember != null && session.loginMember.memberNo == board.memberNo}">
    
      <button id="board_sujeong_btn" class="editbtn">게시글 삭제</button>
    
    
      <a th:href="@{/editBoard/{boardNo}(boardNo=${board.boardNo} , cp=${cp})}">
          <button id="board_delete_btn" class="editbtn">게시글 수정</button>
      </a>
     
        
        
    </th:block>
        </div>
      
     




 
           

        <!-- 댓글 -->

         
            <th:block th:replace="~{/community/qnaComment}"></th:block>
         
          


        <!-- 댓글 -->
       
    </main>
        

    <script th:inline="javascript">

        // - loginMember가 null인 경우 null 반환
        const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원 번호";

        // 현재 게시글 번호를 전역 변수로 저장
        const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";

        const boardMemberNo = /*[[${board.memberNo}]]*/ "das";

        console.log("ㅇㄴㅇㅁㄴ");
        console.log(boardMemberNo);
        console.log(boardNo);
        console.log(loginMemberNo);


        const cp = /*[[${cp}]]*/ "cp";

    </script>


    <th:block th:replace="~{/common/footer}"></th:block>
    <script src="/js/board/comment.js">
 

    </script>

</body>
</html>