<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문게시판-글쓰기</title>
    <th:block th:replace="~{/common/common}"></th:block>

    <link rel="stylesheet" href="/css/community/qnawrite.css">
    <th:block th:replace="~{/common/common}"></th:block>
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
 <link rel="stylesheet" href="/css/SubNavCss/subnav.css">
<link rel="stylesheet" href="/css/introduce/introduce.main.css">

</head>
<body>

  <!--헤더-->
  <th:block th:replace="~{/common/headerMain}"></th:block>
  <!--헤더-->

<div class="board-wrqp">
    <h1>후기 게시판</h1>
    <h4 style="color: #666666;">굿웨이브 회원들의 후기 게시판입니다. <br>
        굿웨이브는 후원자님과의 소통으로 더 밝은 미래를 만들어갑니다
    </h4>

    <form action="/community/qnawrite" method="post" id="qnaWriteForm" enctype="multipart/form-data">
    <div class="qnawrite-content">
       
        <!--제목-->
        <div class="title-write">
        제목<input type="text" placeholder="제목을 입력하세요" name="boardTitle" id="boardTitle">
        </div>
        <!--제목-->

        <!--내용-->
        <div class="content">
            내용<textarea placeholder="내용을 입력하세요." name="boardContent" id="boardContent"></textarea>
        </div>
        <!--내용-->
    </div>

        <!-- 버튼 영역 -->
        <div class="board-btn-area">
        <button type="submit" id="writebtn">등록</button>
        </div>
        <!-- 버튼 영역 -->
    </form> 
    
</div> 

 <!--푸터-->
 <th:block th:replace="~{/common/footer}"></th:block>
 <!--푸터-->

 <script src="/js/community/qnawrite.js"></script>

</body>
</html>