@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular';
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}


* {
    box-sizing: border-box;
  }
  
  body {
    padding: 2rem;
    margin: 0;
  }
  
  .title {
    margin: 2rem auto;
    font-size: 2rem;
    text-align: center;
  }

  .sub-title{
    color: #666666;
    margin: 2rem auto;
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
  }
  
  .faq-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
  .faq {
    position: relative;
    background-color: #ffffff;
    
    overflow: hidden;
    transition: 0.3s ease;
  }
  
  .faq.active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq__question {
    padding: 1rem;
  }
  
  .faq__title {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .faq__text {
    padding: 0.5rem 1rem;
    color: gray;
    font-size: 1rem;
  }
  
  .faq.active .faq__answer {
    max-height: 200px;
    border-top: 1px solid silver;
    transition: max-height 0.3s ease-in-out;
  }
  
  .faq__btn {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 50%;
    font-size: 1.5rem;
  }
  
  .faq__btn:focus {
    outline: 0;
  }
  
  .faq__icon.close {
    display: none;
  }
  
  .faq.active .faq__icon.close {
    color: black;
    display: block;
  }
  
  .faq.active .faq__icon.open {
    display: none;
  }
