.board_up_title{
    height: auto;
    /* margin: 150px 300px 100px 300px; */
    box-shadow: 3px 3px 10px #e6e6e6;
    width: 90%;
    border-radius: 15px;
    border: 1px solid black;
    padding: 12px;
    box-shadow: inset 3px 3px 10px #e6e6e6;
}

#board_detail_text_main{
    height: auto;
    width: 43%;
    margin: 200px auto;
}

.board_up_content{
    box-shadow: 3px 3px 10px #e6e6e6;
    border-radius: 15px;
    border: 1px solid black;
    padding: 12px;
    width: 90%;
    height: 370px;
    position:relative;
    left:5px;
    box-shadow: inset 3px 3px 10px #e6e6e6;
    
}
.boardImg{
    position: relative;
    top: 102px;
    width: 20%;
    z-index: -100;
    margin: -20px auto;
    height: 77%;

}



.board-content{
    display: flex;
    margin-top:25px;
}

#writebtn{
    background-color: white;
    color: #4C8DC3;
    border: 2px solid #7ABEDD;
    width: 100px;
    height: 30px;
    position: relative;
    right: 50px;
    font-weight: bold;
    border: 0;
    background-color: #7ABEDD;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    top: 20px;
    float: right;
    transition: 0.1s linear;
}

#writebtn:hover{
    background-color: white;
    color:#7ABEDD;
    border:2px solid #7ABEDD;
}
.delete-image{
    cursor: pointer;
}


.img-box{
    flex-wrap: wrap;
    display: flex;
    width: 840px;
    position: relative;
    /* top: 40px; */
    /* height: 300px; */
    bottom: 70px;
    left: -33px;
    margin-bottom: 10px;
    height: 139px;
    column-gap: 15px;
    z-index: 200;
 
   
}

.preview{
    width:200px;
    height:200px;
}
.delete-image{
    float: right;
}

.boardImg{
    width: 200px;
    /* background-color: #7ABEDD; */
    height: 50px;
}



form input::file-selector-button {
    display: none;
  }

.qnawrite-content{

padding: 20px;
}

label {
cursor: pointer;
/* Style as you please, it will become the visible UI component. */
}

.inputImage {
opacity: 0;
position: absolute;
z-index: -1;
}


.label_img{
    position: relative;
    top: 102px;
    width: 25%;
    z-index: -100;
    margin: -20px auto;
    height: 84%;
}