<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>굿웨이브 정신</title>

    <th:block th:replace="~{/common/common}"></th:block>
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
    
    <link rel="stylesheet" href="/css/introduce/introduce.main.css">
    <link rel="stylesheet" href="/css/SubNavCss/subnav.css">
</head>
<body>
    <!-- wrap -->
    <div id="wrap">
    <!-- wrap -->

        <!-- common -->
<th:block th:replace="~{common/headerMain}"></th:block>
<!-- common -->

<!-- introduce_img_box -->
<div class="introduce_img_box">
    <img src="/images/introduceMental/1.webp" alt="이미지">


    <div class="introduce_h2_font_box">
        <h2 class="introducePage_h2_font1"> <span class="font_good_wave">굿웨이브</span> 의 정신</h2>
    </div>
    

   

</div>
<!-- introduce_img_box -->


<h2 class="mental_h2"> <span class="font_good_wave"> 굿웨이브</span>는 노인들을 위한 봉사를 통해 공동체의 <br> 연대와 사랑의 흐름을 이끌며, 삶의 품격과 존엄성을 지향</h2>

<!-- mental_middle_box -->
<div class="mental_middle_box">
<!-- mental_middle_box -->

<img src="/images/introduceMental/2.webp" alt="">

<div class="mental_middle_box_div">

<div><p class="purpose_p">목적<br><span class="purpose_p_span">PURPOSE</span></p></div>
<div class="mental_middle_box_div2">

 <p class="mental_p2"><span class="font_good_wave">굿웨이브</span>의 목적은 노인들에게 소외감 없는<br> 삶을 제공하고, 그
    들의 행복과 삶의 질을 향상 <br >시키는 데 기여하는 봉사활동을 지속적으로 
    제공하는 것입니다</p>

</div>

</div>

<!-- mental_middle_box -->
</div>
<!-- mental_middle_box -->


<!-- core_box_wrap -->
<div class="core_box_wrap">
        <img src="/images/introduceMental/3.webp" alt="">

        <div class="core_font_box">
            <h2 class="core_font_h2">핵심가치</h2>
            <span class="core_font_span">Core Values</span>
        </div>
   
    


</div>
<!-- core_box_wrap -->


<!-- core_box_values -->
<div class="core_box_values">

    <div class="core_box_values_box core_box_values_box1">
        <p class="core_box_values_box_p1">존중</p>
        <p class="core_box_values_box_p2">노인들의 경험과 삶의  지혜를  존중 <br> 하고 그들의 가치를 인정합니다</p>
    </div>
    <div class="core_box_values_box core_box_values_box2">
        <p class="core_box_values_box_p1">배려</p>
        <p class="core_box_values_box_p2">노인들의 감정과 필요를  이해 <br>하고 그에 맞게 배려합니다</p>
    </div>
    <div class="core_box_values_box core_box_values_box3">
        <p class="core_box_values_box_p1">공감</p>
        <p class="core_box_values_box_p2">노인들에게 관심을 표하고 그들의<br>  이야기를 듣고 공감합니다</p>
    </div>
    <div class="core_box_values_box core_box_values_box4">
         <p class="core_box_values_box_p1">돌봄</p>
         <p class="core_box_values_box_p2">노인들의 건강과 안녕을 돌보며<br>  필요한 지원을 제공합니다</p>
    </div>
    <div class="core_box_values_box core_box_values_box5">
        <p class="core_box_values_box_p1">동반</p>
        <p class="core_box_values_box_p2">노인들과 함께 시간을 보내며<br>  삶의 일정과 활동에 참여합니다</p>
    </div>
    <div class="core_box_values_box core_box_values_box6">
        <p class="core_box_values_box_p1">지지</p>
        <p class="core_box_values_box_p2">노인들의 자립성을 존중하면서도 <br>  필요한 경우에 지원과 도움을 제공합니다</p>
    </div>
    <div class="core_box_values_box core_box_values_box7">
        <p class="core_box_values_box_p1">인정</p>
        <p class="core_box_values_box_p2">노인들의 공헌과 역할을 인정하고<br> 그들의 자부심을 높입니다</p>
    </div>
    <div class="core_box_values_box core_box_values_box8">
        <p class="core_box_values_box_p1">활동</p>
        <p class="core_box_values_box_p2">노인들이 건강하고 삶의  활력을<br> 유지할 수 있도록 다양한 <br> 활동을 제안하고 도와줍니다</p>
    </div>

</div>
<!-- core_box_values -->

<th:block th:replace="~{/common/footer}"></th:block>
<!-- wrap -->   
    </div>
<!-- wrap -->

</body>
</html>