<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>굿웨이브 정신</title>

    <th:block th:replace="~{/common/common}"></th:block>
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
    
    <link rel="stylesheet" href="/css/introduce/introduce.main.css">
</head>
<body>
    <!-- wrap -->
    <div id="wrap">
    <!-- wrap -->

        <!-- common -->
<th:block th:replace="~{common/headerMain}"></th:block>
<!-- common -->

<!-- introduce_img_box -->
<div class="introduce_img_box">
    <img src="/images/introduceMental/1.webp" alt="이미지">


    <div class="introduce_h2_font_box">
        <h2 class="introducePage_h2_font1"> <span class="font_good_wave">굿웨이브</span> 의 정신</h2>
    </div>
    

   

</div>
<!-- introduce_img_box -->


<h2 class="mental_h2"> <span class="font_good_wave"> 굿웨이브</span>는 노인들을 위한 봉사를 통해 공동체의 <br> 연대와 사랑의 흐름을 이끌며, 삶의 품격과 존엄성을 지향</h2>

<!-- mental_middle_box -->
<div class="mental_middle_box">
<!-- mental_middle_box -->

<img src="/images/introduceMental/rollz-international-APhN-UX97Wk-unsplash.jpg" alt="">

<div class="mental_middle_box_div">

<div><p class="purpose_p">목적<br><span class="purpose_p_span">PURPOSE</span></p></div>
<div class="mental_middle_box_div2">

 <p class="mental_p2"><span class="font_good_wave">굿웨이브</span>의 목적은 노인들에게 소외감 없는<br> 삶을 제공하고, 그
    들의 행복과 삶의 질을 향상 <br >시키는 데 기여하는 봉사활동을 지속적으로 
    제공하는 것입니다</p>

</div>

</div>

<!-- mental_middle_box -->
</div>
<!-- mental_middle_box -->

<!-- wrap -->   
    </div>
<!-- wrap -->
    <div id="sroll" style="height:1000px;"></div>
</body>
</html>