<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>굿웨이브 소개</title>
    <th:block th:replace="~{/common/common}"></th:block>
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
    
    <link rel="stylesheet" href="/css/introduce/introduce.main.css">
</head>
<body>
<!-- wrap -->
<div id="wrap">
<!-- wrap -->

<!-- common -->
<th:block th:replace="~{common/headerMain}"></th:block>
<!-- common -->

<!-- introduce_img_box -->
<div class="introduce_img_box">
    <img src="/images/introducePage/1.webp" alt="이미지">

    <div class="introduce_h2_font_box">
        <h2 class="introducePage_h2_font1">어른신들을 웃게하는 선한 물결,</h2>
        <h2 class="introducePage_h2_font2">굿웨이브</h2>
    </div>
   

</div>
<!-- introduce_img_box -->

<h2 class="introduce_h2_font_introdroduce"><span class="font_good_wave">굿웨이브</span>&nbsp;소개</h2>

<!-- middle_main _ box -->

<div id="introduce_middle_main_box">



    <div class="introduce_div_2_box">
        <img src="/images/introducePage/2.webp" alt="">
    </div>
    

</div>


<!-- middle_main _ box -->


<!-- middle_main_font_box -->


<div class="introduce_middle_main_font_box">
    <p class="introduce_middle_main_font_p1">우리나라는 2020년 노인의 수가 812만명을 넘어섰고,<br>
        2036년 에는 1,523만명을 넘어설 것이라고 예상됩니다.<br>
        늘어나는 노인 인구는 단순히 숫자의 증가만을 의미하는 것 뿐만 아니라<br>
        노인 빈곤률 및 자살률등 사회적인 문제도 함께 증가된다는 것을 의미합니다.<br>
        특히 독거노인을 비롯한 취약노인은 가족 및 이웃들과의 사회적 교류가 단절되기 쉽고,<br>
        현대 사회의 병리현상의 상징인 고독사의 위험에 노출되어 있어<br>
        그 어느 세대보다 사회적 차원의 보호와 지원이 필요합니다.</p>


        <p class="introduce_middle_main_font_p2">
            <span class="font_good_wave">굿웨이브</span>는 이러한 사회적 문제 해결을 위해<br>
            취약노인 보호와 지원을 위해 앞으로 나아가기 위해 설립된 봉사단체입니다.
         </p>
</div>


<!-- middle_main_font_box -->




<!-- 연혁 -->
<div class="introduce_history_wrap">
    <!-- 연혁 -->
    
    
    <div class="introduce_history_wrap_box1"><img src="/images/introducePage/8.webp" alt=""></div>
    <div class="introduce_history_wrap_box2"></div>
    
    
    
    <!-- 연혁 -->
    </div>
    <!-- 연혁 -->










<!-- introduce_main_six_div-->

<div id="introduce_main_six_div_wrap">

<p class="transition introduce_main_six_div_p1"><span class="font_good_wave">굿웨이브</span>는 국내 여러 지역에서 노인과 지역 주민 <br>을 위한
    지속 가능한 삶의 변화를 촉진하고 있습니다. </p>

<p class="transition introduce_main_six_div_p2">
    우리는 '누구도 무시되지 않는' 지속 가능한 발전을  <br> 실현하기 위해 SDGs(Sustainable Development Goals)를 추진하고 있으며,  <br>
    사회복지사업과 국제개발협력사업을 통해 이를 실현하고 있습니다.
</p>  







<!-- introduce_main_six_div -->
<div id="introduce_main_six_div">
<!-- introduce_main_six_div -->







    <!-- grid-1 -->
        <div class="introduce_grid_box">

                <div class="transition introduce_grid_box_div1"><img src="/images/introducePage/4.webp" alt=""></div>
                <div class="transition introduce_grid_box_div2"><img src="/images/introducePage/5.webp" alt=""></div>


        </div>
     <!-- grid-1 -->
     
     <!-- grid-2 -->
        <div>

            <div class="transition introduce_grid_box_div3"><img src="/images/introducePage/3.webp" alt=""></div>

        </div>
    <!-- grid-2 -->   
    
    <!-- grid-3 -->
        <div class="introduce_grid_box">

            <div class="transition introduce_grid_box_div4"><img src="/images/introducePage/6.webp" alt=""></div>
            <div class="transition introduce_grid_box_div5"><img src="/images/introducePage/7.webp" alt=""></div>

        </div>
     <!-- grid-3 -->
     




 <!-- introduce_main_six_div -->    
</div>
<!-- introduce_main_six_div -->






<!-- introduce_main_six_div-->
</div>
<!-- introduce_main_six_div-->




<!-- wrap -->
</div>
<!-- wrap -->

<div id="scroll" style="height:1000px;">
    
</div>

</body>
</html>