<footer id="footer">
  <div class="footer_head">
      <div class="footer_tel">
         <h4 id="footerH4">후원문의 및 상담   &nbsp;&nbsp;&nbsp;  1234-1234</h4>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <span id="footer_span">(평일 9:00 ~ 18:00 / 주말 및 공휴일 휴무)</span>
      </div>
  </div>

  <div class="footer_div1">


     <section class="footer_section">
      <div><img src="/images/footerIcon/twiter.png"></div>
      <div><img src="/images/footerIcon/facebook.png"></div>
      <div><img src="/images/footerIcon/instagram.png"></div>
      <div><img src="/images/footerIcon/kakaotalk.png"></div>
      <div><img src="/images/footerIcon/github.png"></div>
     </section>


  </div>


  <div class="footer_div2">
  
     
     <section class="footer_div2_section1">
 
           <div style="width: 130px;
           height: 60px;
           float: right;
           margin-right: 10px;
           margin-top: 60px;
       ">
          <img src="/images/GOODWAVE.png" alt="">
           </div> 

     </section>

     <section class="footer_div2_section2">

            <ul id="footer_div2_section2_ul">
               <li class="footer_div2_li">이용약관</li>
               <li class="footer_div2_li">개인정보처리방침</li>
               <li class="footer_div2_li">이메일무단수집거부</li>
            </ul>

            <div class="footer_2_div_box">
                  <p id="footer_div2_section2_ul_p">
                     사회복지법인 굿웨이브재단 | 사업자등록번호 123-45-67890 | 회장 홍길동 | 대표이사 홍길동
                     (12345) 서울시 중구 무교로 20 굿웨이브재단 | 대표전화 1234-5678 | 팩스 02-123-4567
Copyright © Goodwave Korea. All Rights Reserved.
                  </p>

            </div>

     </section>



  </div>
   
   
  </footer>
  
  
  <script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
  
    if(message != null) alert(message);
  </script>