<footer id="footer">
  
  <div class="footer_div1">


     <section class="footer_section">
      <div><img src="/images/footerIcon/twiter.png"></div>
      <div><img src="/images/footerIcon/facebook.png"></div>
      <div><img src="/images/footerIcon/instagram.png"></div>
      <div><img src="/images/footerIcon/kakaotalk.png"></div>
      <div><img src="/images/footerIcon/github.png"></div>
     </section>


  </div>


  <div class="footer_div2">
  
     
     <section class="footer_div2_section1">

     </section>

     <section class="footer_div2_section2">

     </section>



  </div>
   
   
  </footer>
  
  
  <script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
  
    if(message != null) alert(message);
  </script>