
<nav>
    <!--  로고 -->
    <div class="header2div">
        <a>
            <img src="/images/logo.png" 
            id="navlogo">
        </a>
    </div>

    <!-- 기본 메뉴 -->
    <ul class="header2ul">
        <li>
            <a>소개</a>
        </li>
        
        <li>
            <a>후원</a>
        </li>
        
        <li>
            <a>참여</a>
        </li>


        <li>
            <a>커뮤니티</a>
        </li>

    </ul>
    

    <!-- 오른쪽 -->
    <div class="headerRight">

        <div>
            <a>
            <i class="fa-solid fa-user" id="right-icon"></i>
            </a>
        </div>


        <div>
            <a>
                <i class="fa-solid fa-magnifying-glass" id="right-icon"></i>
            </a>
        </div>


        <div>
            <button>후원하기</button>
        </div>



    </div>

</nav>