
<nav id="bb">
    <!--  로고 -->
    <div class="header1div">
        <a>
            <img src="/images/GOODWAVE.png" 
            id="navlogo">

        </a>
    </div>

    <!-- 기본 메뉴 -->
    <ul class="nav_ul">


        <!-- li1 -->
        <li class="li_1">
            <!-- li1 -->  
       
            <!-- introduce -->
            <div class="introduce"><span class="span_class">소개</span>
                <div class="stick"></div>
                <section class="section1">    
    
                    <div class="bbi right">
                        <p class="font_p"><a href="#"target="_blank">굿웨이브</a></p>
                        <p class="font_p"><a href="#"target="_blank">굿웨이브 정신</a></p>
                        <p class="font_p"><a href="#"target="_blank">인사말</a></p>
                        <p class="font_p"><a href="#"target="_blank">연혁</a></p>
                    </div>

                    <div class="bbi right" id="right_1">
                        <p class="font_p"><a href="#"target="_blank">후원하기</a></p>
                    
                    </div>
                    <div class="bbi right" id="right_baby">
                        <p class="font_p"><a href="#"target="_blank">연탄봉사</a></p>
                        <p class="font_p"><a href="#"target="_blank">재능기부</a></p>
                        <p class="font_p"><a href="#"target="_blank">자택방문봉사</a></p>
                    </div>
                    <div class="bbi right" id="right_ba">
                        <p class="font_p"><a href="#"target="_blank">자주 묻는 질문</a></p>
                        <p class="font_p"><a href="#"target="_blank">Q&A</a></p>
                        
                    </div>
                <!-- section -->        
                </section>
            </div>
            <!-- introduce -->


            <!-- li1 -->   
        </li>
        <!-- li1 -->


        <!-- li2 -->
        <li class="li_2">
        <!-- li2 -->    

            <a>후원</a>
            <div class="stick2"></div>
        <!-- li2 -->
        </li>
        <!-- li2 -->

        <!-- li3 -->
        <li class="li_3">
        <!-- li3 -->    
            <a>참여</a>
            <div class="stick3"></div>
        <!-- li3 -->
        </li>
        <!-- li3 -->

        <!-- li4 -->
        <li class="li_4">
        <!-- li4 -->   
            <a>커뮤니티</a>
            <div class="stick4"></div>
        <!-- li4 -->    
        </li>
        <!-- li4 -->





    </ul>
    

    <!-- 오른쪽 -->
    <div class="headerRight">

        <div>
            <a>
            <i class="fa-solid fa-user" id="right-icon"></i>
            </a>
        </div>


        <div>
            <a>
                <i class="fa-solid fa-magnifying-glass" id="right-icon"></i>
            </a>
        </div>


        <div>
            <button class="donation_124213">후원하기</button>
        </div>



    </div>

</nav>