
<nav id="bb">
    <!--  로고 -->
    <div class="header1div">
        <a href="/">
            <img src="/images/GOODWAVE.png" 
            id="navlogo">

        </a>
    </div>

    <!-- 기본 메뉴 -->
    <ul class="nav_ul">

        <section class="section1">    
    
            <div class="bbi right" id="bbi_right">
                <p class="font_p  font_p1 "><a href="/introduce/introduce">굿웨이브</a></p>
                <p class="font_p  font_p1"><a href="/introduce/mental">굿웨이브 정신</a></p>
                <p class="font_p  font_p1"><a href="/introduce/greeting">인사말</a></p>
            </div>
    
            <div class="bbi right" id="right_1">
    
    
    
                <p class="font_p rela_2  font_p2">  
    
                    <th:block th:if="${session.loginMember != null}">
                        <a href="/volunteer/donation" id="donationBtn2">후원하기</a>
                    </th:block>
    
                    <th:block th:unless="${session.loginMember != null}">
                        <a href="/member/login" id="donationBtn2">후원하기</a>
                    </th:block>
                
                </p>
            
            </div> 
          <div class="bbi right" id="right_baby">
    
       
    
                <p class="font_p rela3 font_p3"><a href="/volunteer/yeontan">연탄봉사</a></p>
                <p class="font_p rela3 font_p3"><a href="/volunteer/talentDonation">재능기부</a></p>
                <p class="font_p rela3 font_p3"><a href="/volunteer/visit">자택방문봉사</a></p>
    
            </div>
            <div class="bbi right" id="right_ba">
                <p class="font_p rela4 font_p4"><a href="/community/FAQ">자주 묻는 질문</a></p>
                <p class="font_p rela4 font_p4"><a href="/community/QNA">후기 게시판</a></p>
                
            </div> 
        <!-- section -->        
        </section>
        <!-- li1 -->
        <li class="li_1">
            <!-- li1 -->  
       
            <!-- introduce -->
            <div class="introduce"><span class="span_class">소개</span>
                <div class="stick"></div>
             
            </div>
            <!-- introduce -->


            <!-- li1 -->   
        </li>
        <!-- li1 -->


        <!-- li2 -->
        <li class="li_2">
        <!-- li2 -->    

            <a>후원</a>
            <div class="stick2"></div>
        <!-- li2 -->
        </li>
        <!-- li2 -->

        <!-- li3 -->
        <li class="li_3">
        <!-- li3 -->    
            <a>참여</a>
            <div class="stick3"></div>
        <!-- li3 -->
        </li>
        <!-- li3 -->

        <!-- li4 -->
        <li class="li_4">
        <!-- li4 -->   
            <a>커뮤니티</a>
            <div class="stick4"></div>
        <!-- li4 -->    
        </li>
        <!-- li4 -->





    </ul>
    

    <!-- 오른쪽 -->
    <div class="headerRight">

        <th:block th:if="${session.loginMember == null}">
            <div class="first_box fkfkfk">
                <a href="/member/login">
                <i class="fa-solid fa-user" id="right-icon"></i>
                </a>
            </div>
        </th:block>    

        <th:block th:if="${session.loginMember != null}">

        
        <div class="userMyPage first_box fkfkfk">
            
            <i class="fa-solid fa-user" id="right-icon"></i>
            
        </div> 
            

            <div id="myPageForm" style="border-radius: 10px;border:1px solid black;">
                <!-- div1 -->
                <a href="#" class="hover_a" style="height:49px;">
                    <div style="border-bottom:1px solid black;height:49px;">
                        <p class="myPageThree">
                            <th:block th:text="|${session.loginMember.memberId} 님 환영합니다|"></th:block>
                        </p>
                        
                    </div>
                </a>
                
                <!-- div1 -->

                <!-- div2 -->
                <a href="/mypage/mypage" class="hover_a">
                    <div style="transform: translateY(14px);">
                        <img src="/images/navImage/user.png" alt="" class="navImage">
                        <p class="myPageThree">MyPage</p>
                    </div>
                </a>
                
                <!-- div2 -->

                <!-- div3 -->
                <a href="/member/logout" class="hover_a">
                    <div style="transform: translateY(14px);">
                        <img src="/images/navImage/signout.png" alt="" class="navImage">
                        <p class="myPageThree">LogOut</p>
                    </div>
                </a>
                
                <!-- div3 -->
            </div>


        </th:block>    

        <form action="/community/QNA" method="get">
             <input type="search" class="gggg" name="searchInput">
        </form>
        
        <div class="main_user_img">
            <a>
                <i class="fa-solid fa-magnifying-glass" id="right-icon"></i>
            </a>
        </div>

        

        <div>


            
           

                <th:block th:if="${session.loginMember == null}">
                    <button class="donation_124213">
                        <a href="/member/login">후원하기</a>
                    </button>
                </th:block>

                <th:block th:if="${session.loginMember != null}">
                    <button class="donation_124213">
                        <a href="/volunteer/donation">후원하기</a>
                    </button>
                </th:block>

              
        </div>



    </div>
  
</nav>



<script th:inline="javascript">
    const loginMember = /*[[${session.loginMember}]]*/ "로그인 회원";

  </script>