
<nav class="header2nav">
    <!--  로고 -->
    <div class="header2div">
        <a href="/"> 
            <img src="/images/logo.png" 
            id="navlogo">
        </a>
    </div>

    <!-- 기본 메뉴 -->
    <ul class="header2ul">
        <li>
            <a>소개</a>
        </li>
        
        <li>
            <a>후원</a>
        </li>
        
        <li>
            <a>참여</a>
        </li>


        <li>
            <a>커뮤니티</a>
        </li>

    </ul>
    

    <!-- 오른쪽 -->
    <div class="headerRight">
        
        <th:block th:if="${session.loginMember == null}">
            <div>
             <a href="/member/login">
                <i class="fa-solid fa-user" id="right-icon"></i>
                </a>
            </div>
        </th:block>

        <th:block th:if="${session.loginMember != null}">
            <div>
             <a href="/member/myPage">
                <i class="fa-solid fa-user" id="right-icon"></i>
                </a>
            </div>
        </th:block>

        <div>
            <a>
                <i class="fa-solid fa-magnifying-glass" id="right-icon"></i>              
            </a>
        </div>


        <div>
            <button id="donationBtn">후원하기</button>
        </div>



    </div>

</nav>

<section class="imageBox"></section>