<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>

   <th:block th:replace="~{/common/common}"></th:block>
</head>
<body>



    <th:block th:replace="~{/common/headerMain}"></th:block>


    

<!-- wrap -->
    <div id="wrap">
<!-- wrap -->

<!-- common -->
<th:block th:replace="~{common/headerMain}"></th:block>
<!-- common -->


<!-- middle_main -->
<div id="middle_main">
<!-- middle_main -->







<!-- middle_main -->
</div>
<!-- middle_main -->





<!-- wrap -->
    </div>
<!-- wrap -->



   <!-- <th:block th:replace="~{/common/header2}"></th:block> -->



  
   <a href="/member/login">
    로그인페이지    
   </a>
     
     


   

   <!-- <th:block th:replace="~{/common/footer}"></th:block> -->


<div id="scroll" style="height:1000px"></div>
</body>
</html>