<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>


   
    

   <link rel="stylesheet" href="/css/header.css">
   <link rel="stylesheet" href="/css/footer.css">
   <th:block th:replace="~{/common/common}"></th:block>
</head>
<body>
    <h1></h1>


    <th:block th:replace="~{/common/headerMain}"></th:block>


  
   
     
     


   

   <th:block th:replace="~{/common/footer}"></th:block>



</body>
</html>