<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>GOODWAVE Main</title>

   <th:block th:replace="~{/common/jsConnect}"></th:block>
   <th:block th:replace="~{/common/common}"></th:block>
   <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>



    <!-- <th:block th:replace="~{/common/headerMain}"></th:block> -->


    

<!-- wrap -->
<div id="wrap">
<!-- wrap -->

<!-- common -->
<th:block th:replace="~{common/headerMain}"></th:block>
<!-- common -->


<!-- middle_main -->
<div class="middle_main">
<!-- middle_main -->

    
    <div><img src="/images/middle_main_img/1.webp" alt=""></div>
    <div><img src="/images/middle_main_img/2.webp" alt=""></div>
    <div><img src="/images/middle_main_img/3.webp" alt=""></div>
    <div><img src="/images/middle_main_img/4.webp" alt=""></div>








<!-- middle_main -->
</div>
<!-- middle_main -->



<!-- story -->
<div class="story">
<!-- story -->

<!-- story_font_box -->
<div class="story_font_box" style="margin-bottom:100px;">
    <h2 style="font-size:50px;margin-bottom:20px" class="story_h2_font">스토리</h2>
    <span class="story_span_box" style="color:grey;font-size:20px">"지혜와 따뜻함을 나누는 굿웨이브, 함께 나눔의 파도를 일으키다"</span>
</div>
<!-- story_font_box -->

<!-- story_div_box -->
<div class="story_div_box">
<!-- story_div_box -->

<!-- story_div_box_box_first -->
<div class="story_div_box_box_first">

     <div class="story_first_img_div">
         <img src="/images/story_img/story_img_1.webp" alt="이미지" class="story_first_img_div_img">
     </div>

     <div class="story_first_font_div">
        <div>
            <span style="font-size: 23px;
        font-weight: 600;
        color: black;
        /* margin-top: 50px; */
        position: relative;
        top: 30px;left:20px">
            세대를 넘나드는 손잡이, 나눔의 끈을 더욱 강하게 만들어가요 🤝
        </span>
        </div>
        

        <a href="#" style="text-decoration: underline;
        font-weight: 900;
        position: relative;
        left: 600px;
        top: 100px;
        font-size: 20px;">더 알아보기</a>
      
     </div>
</div>
<!-- story_div_box_box_first -->


<!-- story_div_box_box_second -->
<div class="story_div_box_box_second">
        <div class="story_flex_box" id="story_flex_box_1">

            <div class="story_flex_box_transition_box">
                <img src="/images/story_img/story_img_2.webp" alt="이미지" id="img_1" class="img_class_story">
            </div>
            

            <div class="story_div_box_box_second_flex_box">
                <p class="story_img_2_font">소중함은 쓰레기가 아닌, 고마움 가득한 미소에 있습니다 😊</p>
            </div>

        </div>
        <div class="story_flex_box" id="story_flex_box_2">
            <div class="story_flex_box_transition_box">
                <img src="/images/story_img/story_img_3.webp" alt="이미지" id="fix_img" class="img_class_story img_2">
            </div>
            
        
            <div class="story_div_box_box_second_flex_box">
                <p class="story_img_2_font">순간은 우리에게 우정과 소중한 순간의 소중함을 깨닫게 했다</p>
            </div>
        </div>
        <div class="story_flex_box" id="story_flex_box_3">
            
            <div class="story_flex_box_transition_box">
                <img src="/images/story_img/story_img_6.webp" alt="이미지" id="img_3" class="img_class_story">
            </div>
            

            <div class="story_div_box_box_second_flex_box">
                <p class="story_img_2_font">사랑과 배려가 만들어내는 따뜻한 순간을 함께 나누었다</p>
            </div>
        </div>
        <div class="story_flex_box" id="story_flex_box_4">
            <div class="story_flex_box_transition_box">
                <img src="/images/story_img/story_img_7.webp" alt="이미지" id="img_4" class="img_class_story">
            </div>
            
        
            <div class="story_div_box_box_second_flex_box">
                <p class="story_img_2_font">봉사는 마음에서 솟아나는 따뜻한 빛으로, 세상을 아름답게 물들인다</p>
            </div>
        </div>
</div>
<!-- story_div_box_box_second -->

<!-- story_div_box -->
</div>
<!-- story_div_box -->

<!-- story -->
</div>
<!-- story -->



<!-- give_people_font_box-->

<div class="give_people_font_box">
<!-- give_people_font_box-->


    <h2 class="h2_give_font">희망의 파도 <span class="span_good_wave" style="color:#4C8DC3">굿웨이브가</span> 함께합니다</h2>

    <p class="good_wave_subject_p">
        노인들의 삶을 더욱 밝고 따뜻하게,<br>
        사랑과 봉사의 파도가 모여 노인들에게 희망의 물결을 전해요
    </p>

        <!--stack_up_flex_box -->
        <div class="stack_up_flex_box">
            <div class="good_wave_story_box">굿웨이브 이야기</div>
            <div class="good_wave_story_box">후원은 어디에 사용되나요?</div>
            <div class="good_wave_story_box">굿웨이브에 대한 궁금증</div>
        </div>
      <!-- stack_up_flex_box-->
    
    <!-- <div class="give_people_flex_box">


        <div> <p class="good_wave_p"></p></div>
        <div> <p class="good_wave_p"></p></div>
        <div> <p class="good_wave_p"></p></div>
       
        
       
    </div> -->

    <!-- stack_up_box -->
    <div class="stack_up_box">
    <!-- stack_up_box -->
    



  <div id="stick_sticks">

    <!-- div 1 -->
            <div class="stick_div_box">
                    <div class="stick_img"><img src="/images/introduce/ngoHeart.png" alt="이미지"></div>
                    <div>
                        <p class="font_weight_ppp">UN경제사회이사회로부터
                            NGO 최상위 지위인
                            ‘포괄적 협의 지위’ 획득</p>
                    </div>
                   
            </div>
    <!-- div 1 -->

    <!-- div 2 -->
            <div class="stick_div_box">
                <div class="stick_img"><img src="/images/introduce/trophy.png" alt="이미지"></div>
                <div>
                    <p class="font_weight_ppp">UN MDGs Award에서
                        새천년개발목표상 수상:
                        보편적 노인교육 달성 기여</p>
                </div>
              
            </div>
    <!-- div 2 -->

    <!-- div 3 -->
            <div class="stick_div_box">
                <div class="stick_img"><img src="/images/introduce/handHeart.png" alt="이미지"></div>
                <div>
                    <p class="font_weight_ppp">유엔세계식량계획(WFP)
                        파트너기관 선정</p>
                </div>
                
            </div>
     <!-- div 3 -->       

  </div>


     <div class="count_up_flex_box">

        <!-- 1 -->
            <div class="count_up">

                <div>
                    <span class="history_fourty li_count_up_li">46</span>
                    <span class="low_font">년</span>
                </div>
                    
                    <p class="count_up_p">1978년 굿웨이브의 역사</p>
            </div>
        <!-- 1 -->    

        <!-- 2 -->
            <div class="count_up">

                <div>
                    <span class="warm_people li_count_up_li">20</span>
                    <span class="low_font">만 명</span>
                </div>

                <p class="count_up_p">따뜻한 손길을 나누어준 후원자분들</p>
            </div>
        <!-- 2 -->


        <!-- 3 -->
            <div class="count_up">

                <div>
                    <span class="happy_peoples li_count_up_li">101</span>
                    <span class="low_font">만 명</span>
                </div>

                <p class="count_up_p">굿웨이브를 만나 행복해진 사람들</p>
            </div>
        <!-- 3 -->    

     </div>

    


 <!-- stack_up_box -->
    </div>
     <!-- stack_up_box -->


<!-- give_people_font_box-->
</div>


<!-- give_people_font_box-->


<!-- volunteer_list -->
<div id="volunteer_list">
<!-- volunteer_list -->

      <h2 class="volunteer_h2">헌신의 결실, 봉사의 보람</h2>
      <span class="volunteer_span">굿웨이브는 노인들의 자립을 돕는 따뜻한 봉사의 바다입니다</span>
   
       <!-- wrap_box -->
    <div class="volunteer_wrap_box">
  <!-- wrap_box -->

            <!-- box1 -->
            <div class="volunteer_box_1">
              <!-- box1 -->
                    <div class="blur_img">
                        <img src="/images/volunteer/volunteer_3.webp" alt="이미지" class="blur_img">
                    </div>

                    <div class="volunteer_box_1_font">
                        <p class="volunteer_box_1_font_p1">방문 봉사</p>
                        <p class="volunteer_box_1_font_p2">땀과 열정으로 노인을 <br> 위한 건강한 공동체를 만듭니다</p>

                        

                        <a href="/volunteer/visit" class="more_view">더 알아보기</a>
                    </div>
             <!-- box1 -->  
            </div>
             <!-- box1 -->

              <!-- box2 -->
            <div class="volunteer_box_2">
                <!-- box2 -->

            
   
                     
                    <div class="blur_img">
                        <img src="/images/volunteer/volunteer_1.webp" alt="">
                    </div>

                    <div class="volunteer_box_1_font volunteer_box_1_font_sujeong">
                        <p class="volunteer_box_1_font_p1">재능 기부 봉사</p>
                        <p class="volunteer_box_1_font_p2">재능 기부로 <br> 더 나은 세상을 만듭니다. 봉사의 가치를 전합니다</p>

                        

                        <a href="/volunteer/talentDonation" class="more_view">더 알아보기</a>
                    </div>
                <!-- box2 -->
            </div>
                <!-- box2 -->
   
                 
                
                <div class="volunteer_box_3">
                    <div class="blur_img">
                        <img src="/images/volunteer/volunteer_3_3.webp" alt="">
                    </div>

                    <div class="volunteer_box_1_font volunteer_box_1_font_sujeong">
                        <p class="volunteer_box_1_font_p1">연탄 봉사</p>
                        <p class="volunteer_box_1_font_p2">한 겨울, <br> 연탄 봉사로 따뜻함을 나눕니다</p>

                        

                        <a href="/volunteer/yeontan" class="more_view">더 알아보기</a>
                    </div>
             
                </div>

    <!-- wrap_box -->
    </div>
  <!-- wrap_box -->

<!-- volunteer_list -->
</div>
<!-- volunteer_list -->



<!-- gongji  -->


<div id="gongji_wrap">
<!-- gongji  -->

<div>
    <h2 class="gongji_h2">다양한 소식을 만나보세요</h2>
     <a href="#" class="gongji_h2_a">

        <p class="gongi_div_p">더보기<span class="plus_span">+</span></p>

     </a>
    
</div>


<div id="gongji_grid_box">
    <div class="gongi_div_1 gongji_div">
        <a href="#">
            <p class="gongji_p gongji_p1">공지내용</p>
        </a>
        
    </div>

    <div class="gongi_div_2 gongji_div">
        <a href="#">
            <p class="gongji_p gongji_p2">공지내용</p>
        </a>
    </div>

    <div class="gongi_div_3 gongji_div">
        <a href="#">
            <p class="gongji_p gongji_p3">공지내용</p>
        </a>
    </div>

    <div class="gongi_div_4 gongji_div">
        <a href="#">
            <p class="gongji_p gongji_p4">공지내용</p>
        </a>
    </div>
</div>



<!-- gongji  -->
</div>
<!-- gongji  -->



<!-- gongji  -->






<!-- wrap -->
    </div>
<!-- wrap -->



 




     


   

<th:block th:replace="~{/common/footer}"></th:block>
  <th:block th:replace="~{/common/scroll}"></th:block>
   <th:block th:replace="~{/common/give}"></th:block>


<script src="/js/main.js"></script>
</body>
</html>