<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <th:block th:replace="~{/common/common}"></th:block>

    <link rel="stylesheet" href="/css/member/member.css"> 
    <link rel="stylesheet" href="/css/member/search.css">
</head>
<body>
    <th:block th:replace="~{/common/header2}"></th:block>

    <main id="complete">

        <div>
            <div id="x">
                <div></div>
                <h1 id="searchIdTitle">아이디 찾기</h1>
                <div></div>
            </div>

            <div id="y">
                
                <h1 th:text="|${searchName}님의 아이디|"></h1>

                <br>
                <h2 id="completeComment" th:text="|${id}|"></h2>
                
            </div>

        </div>
    </main>
    
            <div id="z">
                <a href="/member/login">로그인하기</a>
            </div>
            


    

    <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>