<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
    <link rel="stylesheet" href="/css/member/member.css">
    <th:block th:replace="~{/common/common}"></th:block>
    <link rel="stylesheet" href="/css/SubNavCss/subnav.css">
    <link rel="stylesheet" href="/css/introduce/introduce.main.css">

</head>
<body>
    <th:block th:replace="~{common/headerMain}"></th:block>

    <main>

        <div><img src="/images/login/로그인.webp" alt=""></div>
        <!-- 메인 -->
        <section class="loginMain">

            <section class="loginBox">
                <h1>로그인</h1>
                 <form action="/member/login" method="post" id="loginForm">   
                    <fieldset class="loginfield">

                       <input type="text" name="memberId" id="loginId" placeholder="아이디를 입력해주세요.">
                       <input type="password" name="memberPw" id="loginPw" placeholder="비밀번호를 입력해주세요."> 

                       <div>
                            <label>
                                <input type="checkbox">
                                아이디 저장
                            </label>
                       </div>

                       <button>로그인하기</button>

                    </fieldset>
                </form>

                <div class="loginBox2">
                    <a href="/member/idSearch">아이디 찾기</a>
                    <span> | </span>
                    <a href="/member/pwSearch">비밀번호 찾기</a>
                    
                    
                </div>    

            </section>
                    


            <section class="loginBox" id="loginBoxUnder">
             
                    <div id="textBox">
                        <h1>회원가입</h1>
                        <h3>회원가입을 하시면 다양한 메뉴를 이용하실 수 있습니다.</h3>
                    </div>
                    <div></div>
                    <a href="/member/signUp"><button type="button">회원가입</button></a>
                
            </section>


        </section>
    <!-- 메인 -->

    </main>







    <th:block th:replace="~{/common/footer}"></th:block>
    <script src="/js/member/login.js"></script>

</body>
</html>