<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    
    <th:block th:replace="~{/common/introduceJsConnect}"></th:block>
    
    <link rel="stylesheet" href="/css/member/member.css">
    <th:block th:replace="~{/common/common}"></th:block>
    <link rel="stylesheet" href="/css/member/signUp.css">
    <link rel="stylesheet" href="/css/introduce/introduce.main.css">
    <link rel="stylesheet" href="/css/SubNavCss/subnav.css">
</head>
<body>
    <th:block th:replace="~{/common/headerMain}"></th:block>

    <main class="signupmain">
        <section class="main">
            <form action="/member/signUp" method="post" id="signUpForm">
                <fieldset class="loginfield">
                    
                    <label>
                    아이디 
                    <span id="idSpan">*</span>
                    <span id="checkId" style="float: right;
                    position: relative;
                    font-size: 15px;
                    top: 4px;"></span>
                    
                    </label>


                        <input type="text" class="normalBtn" id="id" name="memberId">



                    <label>
                    이메일 
                    <span id="emailSpan">*</span>
                    <span id="emailCheckSpan" style="font-size:17px;float:right"></span>
                    </label>

                    <div>
                        <input type="text" class="btn2" id="email" name="memberEmail">
                        <button type="button" id="emailcheckbtn">중복확인</button>
                    </div>

                    <label>
                         비밀번호 
                        <span id="pwSpan">*</span>
                    </label>

                    <input type="password" class="normalBtn" id="pw" name="memberPw">

                    <label>
                         비밀번호 확인 
                        <span id="pwConfirmSpan">*</span>
                    </label>

                    <input type="password" class="normalBtn" id="pwConfirm">

                    <label>
                        성명
                        <span id="nameSpan">*</span>
                    </label>

                    <input type="text" id="name" name="memberName">

                    <label>
                        휴대폰 번호
                        <span id="telSpan">*</span>
                    </label>

                    <input type="tel" class="normalBtn" id="tel" name="memberTel">

                    선택사항
                    <hr>
                    
             
                    <label for="memberAddress">주소</label>

                    <div class="signUp-input-area">
                      <input type="text" name="memberAddress" placeholder="우편번호" maxlength="6" id="postcode" class="btn2">                       
                      
                      <button type="button" id="searchAddress">검색</button>
                    </div>
            
                    <div class="signUp-input-area">
                      <input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address" class="normalBtn">
                    </div>
            
                    <div class="signUp-input-area">
                      <input type="text" name="memberAddress" placeholder="상세 주소" id="detailAddress" class="normalBtn">
                    </div>  


                     <h2>약관 및 개인정보 수집 이용동의</h2>
                    <hr>
                    
            <section class="checkField">
                <div class="checkbox_all">
                    <label class="agreeText">
                        <input type="checkbox" name="" id="check" class="all" />
                      <div class="a">전체 동의</div>
                    </label>
                </div>
                <hr>
                <div class="checkbox">
                    <label  class="agreeText">
                        <input type="checkbox" name="" id="" class="normal" />
                        <div class="a">[필수]웹사이트 이용약관 동의</div>
                    </label>
                </div>
                <div class="checkbox">
                    <label  class="agreeText">
                        <input type="checkbox" name="" id="" class="normal" />
                        <div class="a">[필수]개인정보 수집 동의</div>
                    </label>
                </div>


            </section>

                    <!-- ------------------------------ -->
                    <button id="submitBtn">회원가입 하기</button>
                </fieldset>


            </form>


        </section>

 

    </main>



    <script src="/js/member/signUp.js"></script>
    <th:block th:replace="~{/common/footer}"></th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>