<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 완료</title>

    <link rel="stylesheet" href="/css/member/signUp.css">
    <th:block th:replace="~{/common/common}"></th:block>
</head>
<body>
    <th:block th:replace="~{/common/header2}"></th:block>

    <main>
        <section class="signUpComplete">
            <h1>가입완료</h1>
            
            <span>굿웨이브와 함께 더 많은 봉사활동을 만나보세요!</span>
            <a id="finishBtn" href="/">메인으로</a>
        </section>
        
    </main>




    <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>